<div class="row py-1 border-bottom border-light mx-0 px-0" [class.bg-white]="notification.seen===0" id="notification_item_{{notification.id}}">
  <div class="col-2 col-md-1 col-lg-1 p-0 cursor-pointer" (click)="showNotificationDetails(notification)">
    <ng-container *ngIf="notification.people_list.length == 1">
      <div class="d-block w-100 h-100">
        <img src="{{notification.people_list[0].face}}" class="img-fluid rounded-circle m-0" style="max-height: 60px;">
      </div>
    </ng-container>
    <ng-container *ngIf="notification.people_list.length > 1">
      <div class="d-block w-100 h-100" style="position: relative;">
        <div *ngIf="notification.people_list.length > 2" class="d-block"
          style="width:30px;height: 30px; position: absolute;left:5px;top:15px;">
          <img src="{{notification.people_list[2].face}}" class="img-fluid rounded-circle m-0">
        </div>
        <div class="d-block" style="width:30px;height: 30px; position: absolute;left:10px;top:5px;">
          <img src="{{notification.people_list[1].face}}" class="img-fluid rounded-circle m-0">
        </div>
        <div class="d-block" style="width:30px;height: 30px; position: absolute;left:0px;top:0px;">
          <img src="{{notification.people_list[0].face}}" class="img-fluid rounded-circle m-0">
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-9  col-md-10 col-lg-10 p-1">
    <div class="d-block p-0 m-0 cursor-pointer" (click)="showNotificationDetails(notification)">
      <p class="w-100 m-0">
        <ng-container *ngIf="notification.people_list.length > 0">
          <span class="font-weight-bold">{{notification.people_list[0].name}}</span>
          <ng-container *ngIf="notification.people_list.length > 1">
            <ng-container *ngIf="notification.people_list.length ==2">
              <span> and </span><span class="font-weight-bold">{{notification.people_list[1].name}}</span>
            </ng-container>
            <ng-container *ngIf="notification.people_list.length > 2">
              <span>,</span><span class="font-weight-bold">{{notification.people_list[1].name}}</span>
              <ng-container *ngIf="notification.people_list.length ==3">
                <span> and </span><span class="font-weight-bold">{{notification.people_list[2].name}}</span>
              </ng-container>
              <ng-container *ngIf="notification.no_rec > 3">
                <ng-container *ngIf="notification.no_rec == 4">
                  <span> and one more person </span>
                </ng-container>
                <ng-container *ngIf="notification.no_rec > 4">
                  <span> and </span><span>{{notification.no_rec - 3}}</span>
                  <span>&nbsp;</span><span>others</span><span>&nbsp;</span>
                </ng-container>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="notification.note!=''">
          {{notification.note}}
        </ng-container>


        <!--
        <a *ngIf="notification.s_profile" routerLink="/{{notification.s_profile.url}}"
          (mouseover)="hovercardService.OnHover($event,notification.s_profile)"
          (click)="hovercardService.OnMouseOut($event);urlViewerService.setProfile(notification.s_profile);"
          (mouseleave)="hovercardService.OnMouseOut($event)">{{notification.s_profile.name}}</a> {{notification.note}}

        <a *ngIf="notification.action.do=='view'" routerLink="">{{notification.action.label}}</a>
        <button *ngIf="notification.action.do=='message'"
          class="btn btn-sm btn-outline-primary waves-effect btn-rounded px-2 py-1">Message</button>

        <ng-container *ngIf="notification.action.do=='accept'">
          <button (click)="connectionsService.Accept(notification.s_profile);"
            class="btn btn-sm btn-outline-primary waves-effect btn-rounded px-2 py-1"><span
              class="fa fa-user-plus"></span><span>&nbsp;</span>
            <ng-container i18n>Accept</ng-container>
          </button>
          <button (click)="connectionsService.Ignore(notification.s_profile);"
            class="btn btn-sm btn-outline-default waves-effect btn-rounded px-2 py-1"><span>&nbsp;</span>
            <ng-container i18n>Ignore</ng-container>
          </button>
        </ng-container>
        -->
      </p>
      <p class="w-100 m-0" style="font-size:80%;">
        <span class="text-primary">
          <ng-container
            *ngIf="notification.class=='NewPostLikeNotification' || notification.class=='NewCommentLikeNotification' || notification.class=='NewCommentReplyLikeNotification'">
            <span class="fa fa-heart"></span><span>&nbsp;</span>
          </ng-container>
          <ng-container
            *ngIf="notification.class=='NewPostCommentNotification' || notification.class=='NewCommentReplyNotification'">
            <span class="fa fa-comment"></span><span>&nbsp;</span>
          </ng-container>
        </span>
        {{notification.time}}
      </p>
    </div>
  </div>
  <div class="col-1 text-center px-0">
    <div class="card-tools w-100">
      <div class="dropdown btn-group" ngbDropdown placement="bottom-right">
        <a class="px-2" ngbDropdownToggle></a>
        <ul class="dropdown-menu  dropdown-menu-left" ngbDropdownMenu style="position:absolute;left:10px;">
          <li class="dropdown-item"><a href="javascript:void(0);"
              (click)="notificationsService.DeleteNotification(notification.id)"><span
                class="fa fa-trash"></span><span>&nbsp;</span>
              <ng-container i18n>Delete</ng-container>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>