<main class="content container-fluid p-0">
    <div class="container-fluid m-0 p-0">
        <div class="wb-page-manager-left-navigation shadow-sm">
            <app-dw-page-manager-left-menu></app-dw-page-manager-left-menu>
        </div>
        <div class="d-block page-manager-container">
            <div class="row mx-0" style="min-height: 80vh;">
                <div class="col-12 d-block mx-0 px-0">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</main>