<div class="card p-1">
  <div class="card-body p-0">
    <div class="d-block w-100">
        <div class="row my-2 mx-0">
          <div class="col-10">
                  <h5>About Summary</h5>
          </div>
          <div class="col-2 pull-right">
             <span *ngIf="urlviwerService.PPVIEWER.profile.my_profile==true" class="pull-right" style="font-size: 150%;cursor: pointer;" (click)="editProfileService.EditProfileAbout()">
              <span class="fa fa-pencil"></span>
             </span>            
          </div>
        </div>
    </div>
    <div class="d-block  w-100">
        <div
          *ngIf="urlviwerService.loading_viewer==true || (urlviwerService.PPVIEWER.profile.about!='' && urlviwerService.PPVIEWER.profile.about!=null) || urlviwerService.PPVIEWER.profile.my_profile==true"
          class="row mx-0">

          <div *ngIf="urlviwerService.PPVIEWER.profile.about!='' && urlviwerService.PPVIEWER.profile.about!=null"
            class="col-12">
            <p>
              {{urlviwerService.PPVIEWER.profile.about}}
            </p>
          </div>
        </div>
      </div>
  </div>
</div>