<div  class="container-fluid px-md-5 px-lg-5" style="min-height: 100%;">
        <div class="row" style="min-height: 80vh;">
        <div class="col-12 col-md-8 col-lg-8  mx-0 px-0">
          <app-profile-header></app-profile-header>
          <div class="d-block p-0 m-0 w-100">
          <div class="row  p-0 m-0">
            <div  *ngIf="urlviwerService.loading_viewer==true || urlviwerService.PPVIEWER.profile.about!='' || urlviwerService.PPVIEWER.profile.my_profile==true" class="col-12 p-0 m-0" >
                <app-profile-about-widget></app-profile-about-widget>
                <div *ngIf="urlviwerService.loading_viewer" class="d-block p-0 m-0 text-center">
                        <span class="fa fa-spinner fa-pulse fa-fw"></span>
                    </div> 
            </div>
            <div *ngIf="urlviwerService.loading_viewer==true || urlviwerService.PPVIEWER.profile.dealing.length || urlviwerService.PPVIEWER.profile.my_profile==true" class="col-12 p-0 m-0">
                <app-profile-dealing-widget></app-profile-dealing-widget>
                <div *ngIf="urlviwerService.loading_viewer" class="d-block p-0 m-0 text-center">
                    <span class="fa fa-spinner fa-pulse fa-fw"></span>
                </div>        
            </div>    
            <div  *ngIf="urlviwerService.loading_viewer==true || urlviwerService.PPVIEWER.profile.skills.length || urlviwerService.PPVIEWER.profile.my_profile==true" class="col-12 p-0 m-0">
                <app-profile-skills-widget></app-profile-skills-widget>
                <div *ngIf="urlviwerService.loading_viewer" class="d-block p-0 m-0 text-center">
                    <span class="fa fa-spinner fa-pulse fa-fw"></span>
                </div>
            </div>

            <div  *ngIf="urlviwerService.loading_viewer==true || urlviwerService.PPVIEWER.profile.experiences.length || urlviwerService.PPVIEWER.profile.my_profile==true" class="col-12 p-0 m-0">
                <app-profile-experience-widget></app-profile-experience-widget>
                <div *ngIf="urlviwerService.loading_viewer" class="d-block p-0 m-0 text-center">
                    <span class="fa fa-spinner fa-pulse fa-fw"></span>
                </div>               
            </div>

            <div  *ngIf="urlviwerService.loading_viewer==true || urlviwerService.PPVIEWER.profile.educations.length || urlviwerService.PPVIEWER.profile.my_profile==true" class="col-12 p-0 m-0">
                <app-profile-educations-widget></app-profile-educations-widget>
                <div *ngIf="urlviwerService.loading_viewer" class="d-block p-0 m-0 text-center">
                    <span class="fa fa-spinner fa-pulse fa-fw"></span>
                </div>               
            </div>


            <!--
            <div class="col-12 col-md-6 col-lg-6">
                <app-profile-activity-widget></app-profile-activity-widget>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <app-profile-follows-widget></app-profile-follows-widget>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <app-profile-photos-widget></app-profile-photos-widget>
            </div> 
            <div class="col-12 col-md-6 col-lg-6">
                <app-profile-videos-widget></app-profile-videos-widget>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <app-profile-pages-widget></app-profile-pages-widget>
            </div> 
            <div class="col-12">
                <app-profile-contacts-widget></app-profile-contacts-widget>
            </div>
           -->        
          </div>
        </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4 p-0 d-none d-md-block d-lg-block pull-right">
            <app-profile-right-sidebar></app-profile-right-sidebar>
        </div>
        </div>
        </div>