<app-overlay-content-modal>
    <div class="row m-0 px-0 h-100">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mx-0 px-md-5 px-lg-5 px-xl-5 py-2">
            <form [formGroup]="frm_adGroup" (ngSubmit)="saveAd()" #adForm="ngForm">

                <ng-container *ngIf="show_block_one==true">
                    <div class="d-block">
                        <div class="form-row p-0 m-0">
                            <div class="form-group col-12 p-0 mb-1">
                                <label class="pull-left m-0" i18n>Ad Name(Optional) </label>
                                <input type="text" formControlName="name" [(ngModel)]="ad_model.name"
                                    class="form-control" placeholder="Ad Name"
                                    [ngClass]="{ 'is-invalid': submitted && a.name.errors }" />
                                <div *ngIf="submitted && a.name.errors"
                                    class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                    <div *ngIf="a.name.errors.required">Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row p-0 m-0">
                            <div class="form-group col-12 p-0 mb-1">
                                <label class="pull-left m-0" i18n>Introduction </label>
                                <textarea formControlName="introduction" [(ngModel)]="ad_model.introduction"
                                    class="form-control" placeholder="Introduction"
                                    [ngClass]="{ 'is-invalid': submitted && a.introduction.errors }"
                                    maxlength="600"></textarea>
                                <div *ngIf="submitted && a.introduction.errors"
                                    class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                    <div *ngIf="a.introduction.errors.required">Required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row p-0 m-0">
                            <div class="form-group col-12 p-0 mb-1">
                                <label class="pull-left m-0" i18n>Destination Url </label>
                                <input type="text" formControlName="destination_url"
                                    [(ngModel)]="ad_model.destination_url" class="form-control" (blur)="crawlLink()"
                                    placeholder="http://www.example.com"
                                    [ngClass]="{ 'is-invalid': submitted && a.destination_url.errors }" />
                                <div *ngIf="submitted && a.destination_url.errors"
                                    class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                    <div *ngIf="a.destination_url.errors.pattern">Invalid Url</div>
                                    <div *ngIf="a.destination_url.errors.required">Required</div>
                                </div>
                            </div>

                            <ng-container *ngIf="ad_model.cards.length>1">
                                <div class="form-group col-12 p-0 mb-1">
                                    <div class="form-check m-0 p-0">
                                        <input type="checkbox" [(ngModel)]="ad_model.one_destination"
                                            formControlName="one_destination" class="form-check-input"
                                            id="one_destination" (change)="oneDestChanged()">
                                        <label for="one_destination">Use Destination URL as
                                            destination for all cards</label>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="show_block_two==true">
                    <div class="d-block border p-3">


                        <ng-container *ngIf="show_block_one==true && ad_model.cards.length==1">
                            <div class="d-block w-100">
                                <span class="fa fa-info-circle"></span><span>You must have a valid destination URL to
                                    add a
                                    headline, description, and CTA to your ad</span>
                            </div>
                        </ng-container>

                        <input class="d-none" type='file' id="media_upload_input_id" name="upload_file"
                            (change)="onSelectFile($event)" #media_upload_input_id>
                        <div class="d-block w-100" #AdCardsContainer>
                            <ng-container formArrayName="cards">
                                <ng-container *ngFor="let card of ad_model.cards;let i=index;">
                                    <ng-container [formGroupName]="i">
                                        <ng-container *ngIf="ad_model.cards.length==1">
                                            <div class="row mx-0 my-2 p-0">
                                                <div class="col-12 p-0">
                                                    <label class="pull-left w-100 font-weight-bold" i18n>Ad Image
                                                    </label>
                                                </div>
                                                <div class="col-12 p-0">
                                                    <div class="d-block w-100 border border-rounded bg-light m-0 p-0">

                                                        <ng-container *ngIf="card.media_file!=null">
                                                            <div [ngStyle]="{'height':'80px','width':'80px','background-image':'url('+imageIconsService.loadingPictureImage+')'}"
                                                                class="p-0 mx-0"
                                                                [ngClass]="((card.media_width>card.media_height && 80<=card.media_wh_ratio*80) || (card.media_height>card.media_width && 80 > 80/card.media_wh_ratio) || card.media_width==card.media_height)?'d-flex d-flex-row justify-content-center':''"
                                                                (click)="messengerService.viewMessagePhotoInModal(IMAGES,0)"
                                                                style="background-size: 100%;background-repeat: no-repeat;border-radius:5px;overflow:hidden;border:1px solid transparent; cursor: pointer;">
                                                                <img [src]="card.media"
                                                                    [ngClass]="((card.media_width>card.media_height && 80<=card.media_wh_ratio*80) || (card.media_height>card.media_width && 80 > 80/card.media_wh_ratio) || card.media_width==card.media_height) ?'h-100':'w-100'">
                                                            </div>

                                                            <div class="border d-flex justify-content-center align-items-center"
                                                                (click)="removeCardImage(card)"
                                                                style="position: absolute;top:30px;bottom:30px;right:5px;background-color: #fff;border-radius: 50%;width:20px;height:20px;cursor: pointer;">
                                                                <span class="fa fa-close"></span>
                                                            </div>
                                                        </ng-container>
                                                        <ng-container *ngIf="card.media_file==null">
                                                            <div class="row mx-0">
                                                                <div class="col-8 d-flex align-items-center">Image must
                                                                    be JPG
                                                                    or
                                                                    PNG,Up
                                                                    to
                                                                    5MB.</div>
                                                                <div class="col-4">
                                                                    <div (click)="SelectMediaUpload(card)"
                                                                        class="btn btn-sm btn-outline-primary px-2 py-1 pull-right">
                                                                        Upload</div>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row p-0 m-0">
                                                <div class="form-group col-12 p-0 mb-1">
                                                    <label class="pull-left m-0" i18n>Headline </label>
                                                    <input type="text" formControlName="headline"
                                                        [(ngModel)]="ad_model.cards[i].headline" class="form-control"
                                                        placeholder="Your Ad Headline" [class.disabled]="checkDestUrl()"
                                                        [ngClass]="{ 'is-invalid': submitted && cards.controls[i].get('headline').errors }"
                                                        maxlength="200" />
                                                    <div *ngIf="(submitted && cards.controls[i].get('headline').errors)"
                                                        class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                                        <div
                                                            *ngIf="(cards.controls[i].get('headline').errors.required)">
                                                            Required
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row p-0 m-0">
                                                <div class="form-group col-12 p-0 mb-1">
                                                    <label class="pull-left m-0" i18n>Description </label>
                                                    <textarea formControlName="description"
                                                        [(ngModel)]="ad_model.cards[i].description" class="form-control"
                                                        placeholder="Ad Description"
                                                        [ngClass]="{ 'is-invalid': submitted && cards.controls[i].get('description').errors }"
                                                        [class.disabled]="checkDestUrl()" maxlength="=300"></textarea>
                                                    <div *ngIf="(submitted && cards.controls[i].get('description').errors)"
                                                        class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                                        <div
                                                            *ngIf="(cards.controls[i].get('description').errors.required)">
                                                            Required</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <ng-container
                                                *ngIf="compaign.ad_format!='SINGLE_IMAGE' && compaign.ad_format!='CAROUSEL_IMAGE'">
                                                <div class="form-row p-0 m-0">
                                                    <div class="form-group col-12 p-0 mb-1">
                                                        <label class="pull-left m-0" i18n><span>Destination
                                                                URL</span><span>&nbsp;</span><span
                                                                title="Website URL or Your Page where people will visit after clicking your ad."></span></label>
                                                        <input type="text" formControlName="destination_url"
                                                            [(ngModel)]="ad_model.cards[i].destination_url"
                                                            class="form-control" placeholder="http://www.example.com"
                                                            [ngClass]="{ 'is-invalid': submitted && cards.controls[i].get('destination_url').errors }" />
                                                        <div *ngIf="(submitted && cards.controls[i].get('destination_url').errors)"
                                                            class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                                            <div
                                                                *ngIf="(cards.controls[i].get('destination_url').errors.required)">
                                                                Required
                                                            </div>
                                                            <div
                                                                *ngIf="(cards.controls[i].get('destination_url').errors.pattern)">
                                                                Invalid Url</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </ng-container>

                                        <ng-container *ngIf="ad_model.cards.length>1">
                                            <div class="row mx-0">
                                                <div class="col-3 py-2 px-1">
                                                    <div class="row m-0 p-0">
                                                        <div class="col-12 p-0 m-0">
                                                            <div class="pull-left px-2 font-weight-bold"><span> Card
                                                                    {{i+1}}-{{card.id}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 m-0 p-0">
                                                            <div class="d-block border border-rounded bg-light m-0 p-0"
                                                                [ngStyle]="{'height':''+cardImageWidth+'px','width':''+cardImageWidth+'px'}">

                                                                <ng-container *ngIf="card.media_file!=null">
                                                                    <div [ngStyle]="{'height':''+cardImageWidth+'px','width':''+cardImageWidth+'px','background-image':'url('+imageIconsService.loadingPictureImage+')'}"
                                                                        class="p-0 mx-0"
                                                                        [ngClass]="((card.media_width>card.media_height && cardImageWidth<=card.media_wh_ratio*cardImageWidth) || (card.media_height>card.media_width && cardImageWidth > cardImageWidth/card.media_wh_ratio) || card.media_width==card.media_height)?'d-flex d-flex-row justify-content-center':''"
                                                                        (click)="messengerService.viewMessagePhotoInModal(IMAGES,0)"
                                                                        style="background-size: 100%;background-repeat: no-repeat;border-radius:5px;overflow:hidden;border:1px solid transparent; cursor: pointer;">
                                                                        <img [src]="card.media"
                                                                            [ngClass]="((card.media_width>card.media_height && cardImageWidth<=card.media_wh_ratio*cardImageWidth) || (card.media_height>card.media_width && cardImageWidth > cardImageWidth/card.media_wh_ratio) || card.media_width==card.media_height) ?'h-100':'w-100'">
                                                                    </div>
                                                                    <div class="border d-flex justify-content-center align-items-center"
                                                                        (click)="removeCardImage(card)"
                                                                        style="position: absolute;top:-4px;right:-3px;background-color: #fff;border-radius: 50%;width:20px;height:20px;cursor: pointer;">
                                                                        <span class="fa fa-close"></span>
                                                                    </div>
                                                                </ng-container>

                                                                <ng-container *ngIf="card.media_file==null">
                                                                    <div class="row mx-0">
                                                                        <div class="col-12 p-0 d-flex justify-content-center align-items-center"
                                                                            style="height: 100px;">
                                                                            <div class="row m-0 p-0">
                                                                                <div
                                                                                    class="col-12 p-0 m-0 d-flex justify-content-center">
                                                                                    Card Image
                                                                                </div>
                                                                                <div
                                                                                    class="col-12 p-0 m-0 d-flex justify-content-center">
                                                                                    <div (click)="SelectMediaUpload(card)"
                                                                                        class="btn btn-sm btn-outline-primary px-2 py-1 pull-right">
                                                                                        Upload</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </ng-container>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-9 p-1">

                                                    <ng-container *ngIf="(i>1) || (i < 2 && ad_model.cards.length > 2)">
                                                        <div class="btn-remove-card d-flex justify-content-center align-items-center"
                                                            (click)="removeCard(card,i)" style="cursor: pointer;">
                                                            <span class="fa fa-trash"></span>
                                                        </div>
                                                    </ng-container>

                                                    <div class="form-row p-0 m-0">
                                                        <div class="form-group col-12 p-0 mb-1">
                                                            <label class="pull-left m-0" i18n>Headline</label>
                                                            <input type="text" formControlName="headline"
                                                                [(ngModel)]="ad_model.cards[i].headline"
                                                                class="form-control" placeholder="Your Ad Headline"
                                                                [ngClass]="{ 'is-invalid': submitted && cards.controls[i].get('headline').errors }"
                                                                maxlength="200" />
                                                            <div *ngIf="(submitted && cards.controls[i].get('headline').errors)"
                                                                class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                                                <div
                                                                    *ngIf="(cards.controls[i].get('headline').errors.required)">
                                                                    Required</div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <ng-container *ngIf="show_card_description">
                                                        <div class="form-row  p-0 m-0">
                                                            <div class="form-group col-12 p-0 mb-1">
                                                                <label class="pull-left m-0" i18n>Description </label>
                                                                <textarea formControlName="description"
                                                                    [(ngModel)]="ad_model.cards[i].description"
                                                                    class="form-control" placeholder="Ad Description"
                                                                    [ngClass]="{ 'is-invalid': submitted && cards.controls[i].get('description').errors }"
                                                                    maxlength="=300"></textarea>
                                                                <div *ngIf="(submitted && cards.controls[i].get('description').errors)"
                                                                    class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                                                    <div
                                                                        *ngIf="(cards.controls[i].get('description').errors.required)">
                                                                        Required
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-container>

                                                    <div class="form-row p-0 m-0">
                                                        <div class="form-group col-12 p-0 mb-1">
                                                            <label class="pull-left m-0" i18n><span>Card destination
                                                                    URL</span><span>&nbsp;</span><span
                                                                    class="fa fa-info-circle"
                                                                    title="The landing page where people are directed when they click on this individual card in your carousel."></span></label>
                                                            <input type="text" formControlName="destination_url"
                                                                [(ngModel)]="ad_model.cards[i].destination_url"
                                                                class="form-control"
                                                                placeholder="http://www.example.com"
                                                                [class.disabled]="ad_model.one_destination"
                                                                [ngClass]="{ 'is-invalid': submitted && cards.controls[i].get('destination_url').errors }" />
                                                            <div *ngIf="(submitted && cards.controls[i].get('destination_url').errors)"
                                                                class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                                                <div
                                                                    *ngIf="(cards.controls[i].get('destination_url').errors.required)">
                                                                    Required
                                                                </div>
                                                                <div
                                                                    *ngIf="(cards.controls[i].get('destination_url').errors.pattern)">
                                                                    Invalid Url</div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>

                            <ng-container *ngIf="show_call_to_action==true">
                                <div class="form-row p-0 m-0">
                                    <div class="form-group col-12 p-0 mb-1">
                                        <label class="pull-left m-0" i18n>Call-to-action <span><span
                                                    class="fa fa-info-circle"
                                                    title="Choose an Action to drive your ad."></span></span></label>
                                        <select formControlName="call_to_action" [(ngModel)]="ad_model.call_to_action"
                                            class="form-control" (ngModelChange)="newCalltoAction()"
                                            [ngClass]="{ 'is-invalid': submitted && a.call_to_action.errors }">
                                            <option value="">Select Option</option>
                                            <ng-container *ngFor="let action of callActions">
                                                <option value="{{action.code}}">{{action.name}}</option>
                                            </ng-container>
                                        </select>
                                        <div *ngIf="submitted && a.call_to_action.errors"
                                            class="invalid-feedback text-danger text-right form-text text-muted m-0 p-0">
                                            <div *ngIf="a.call_to_action.errors.required">Required</div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="compaign.ad_format=='CAROUSEL_IMAGE' && (ad_model.cards.length < 10)">
                                <div class="row mx-0 my-2">
                                    <div class="col-12 p-0">
                                        <div (click)="adMoreCard()" class="btn btn-sm btn-primary w-100">
                                            <span>Add More Cards</span>
                                            <span>&nbsp;</span>
                                            <span>({{ad_model.cards.length}}/10)</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </ng-container>

                <div class="row mx-0 my-2">
                    <div class="col-6 p-0">
                        <div (click)="adsService.closeAdContentFormModal()"
                            class="btn btn-sm btn-outline-default pull-left">Cancel</div>
                    </div>
                    <div class="col-6 p-0">
                        <button class="btn btn-sm btn-outline-primary pull-right">Create</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 mx-0 px-md-5 px-lg-5 px-xl-5 py-3">
            <div class="d-block w-100">
                <span class="text-muted">Ad Preview</span>
                <div class="d-block border p-3">
                    <ng-container *ngIf="compaign.ad_format!='TEXT_AD'">
                        <app-ad-post-preview-widget [compaign]="compaign" [ad_model]="ad_model">
                        </app-ad-post-preview-widget>
                    </ng-container>

                    <ng-container *ngIf="compaign.ad_format=='TEXT_AD'">
                        <app-ad-text-preview-widget [ad_model]="ad_model"></app-ad-text-preview-widget>
                    </ng-container>

                </div>
            </div>
        </div>
    </div>
</app-overlay-content-modal>