<div class="container-fluid m-0 px-0" style="min-height: 100%;">
    <div class="row mx-0" style="min-height: 80vh;">
        <div class="col-12 mx-0 px-0 bg-white">
            <div class="d-block wb-page-header-container mx-auto">
                <app-page-header [nav_tab]="menu_tab_name"></app-page-header>
            </div>
        </div>
        <div class="col-12 mx-0 px-0">
            <div class="d-block wb-page-content-container p-0 mx-auto w-100">
                <div class="row p-0 m-0">
                    <div class="col-12 col-md-5 col-lg-5 col-xl-5 p-0 mx-0 pr-md-1 pr-lg-1 pr-xl-1">
                        <app-page-about-widget></app-page-about-widget>
                        <app-page-photos-summary-widget></app-page-photos-summary-widget>
                    </div>
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7 p-0  mx-0 pl-md-1 pl-lg-1 pl-xl-1">
                        <ng-container *ngIf="urlviewerService.pageSummary">
                            <app-post-form [postingTo]="'Page'" [page]="urlviewerService.pageSummary"></app-post-form>
                        </ng-container>
                        <app-page-feed-widget></app-page-feed-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>