<section id="how-it-works" class="how-it-works section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row mx-0">
            <div class="col-12 d-flex justify-content-center">
                <header class="section-header">
                    <h3>How it works</h3>
                </header>
            </div>
        </div>

        <div class="row mx-0">

            <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">1</i></div>
                    <h4 class="title">Post a Job</h4>
                    <p class="description">Post a job specifying the location,time and worker criteria</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">2</i></div>
                    <h4 class="title"><a href="">Dolor Sitema</a></h4>
                    <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat tarad limino ata</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">3</i></div>
                    <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                    <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                        eu fugiat nulla pariatur</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">4</i></div>
                    <h4 class="title"><a href="">Magni Dolores</a></h4>
                    <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">5</i></div>
                    <h4 class="title"><a href="">Nemo Enim</a></h4>
                    <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                        praesentium voluptatum deleniti atque</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">6</i></div>
                    <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                    <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore,
                        cum
                        soluta nobis est eligendi</p>
                </div>
            </div>

        </div>

    </div>
</section>