<ng-container *ngIf="processService.loadingData || processService.processingRequest || processService.submittingData">
    <app-load-submit-process-data-modal>

        <div class="row m-0 px-0 h-100 align-items-center">
            <div class="col-12 col-sm-8 col-md-4 col-lg-4  col-xl-4 mx-auto px-0 h-100 align-items-center d-flex">
                <div class="d-block align-self-center w-100 mx-auto my-auto">
                    <div class="card w-100 mx-auto my-auto" id="profile-experience-form">
                        <div class="card-body p-1">


                            <ng-container *ngIf="processService.loadingData">
                                <div class="row px-0 mx-0">
                                    <div class="col-12">
                                        <span style="font-size: 130%;"><span
                                                class="fa fa-3x fa-circle-o-notch fa-spin"></span></span><span>&nbsp;&nbsp;</span><span>Loading...</span>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="processService.processingRequest">
                                <div class="row px-0 mx-0">
                                    <div class="col-12">
                                        <span style="font-size: 130%;"><span
                                                class="fa fa-3x fa-circle-o-notch fa-spin"></span></span><span>&nbsp;&nbsp;</span><span>Processing,Please
                                            Wait.</span>
                                    </div>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="processService.submittingData">
                                <div class="row px-0 mx-0">
                                    <div class="col-12">
                                        <span style="font-size: 130%;"><span
                                                class="fa fa-3x fa-circle-o-notch fa-spin"></span></span><span>&nbsp;&nbsp;</span><span>Submitting,Please
                                            Wait.</span>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </app-load-submit-process-data-modal>
</ng-container>