<app-wf-navbar class="d-none d-md-block d-lg-block"></app-wf-navbar>
<app-wf-navbar-summary [back_route]="parent_route" [display_text]="title" class="d-block d-md-none d-lg-none"></app-wf-navbar-summary>    
  <app-wf-main-content>
  <div  class="container-fluid px-0 mx-0" style="min-height: 100%;">
  <div class="row px-0 mx-0" style="min-height: 80vh;">
  <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 mt-2 mx-auto px-auto">
      <div class="card1 w-100 px-0">
          <div class="card-header  py-0">
          </div>
          <div class="card-body py-0">
           
           <div class="row p-0"  style="background-color:#06274d;opacity:0.9;color:#ffffff;">
              <div class="col-12">
                  <br><br><br>
              </div>
              <div class="col-12 align-middle">
                <div class="col-12 text-center">
                    <h2><span class="fa fa-users" style="font-size:170%;"></span>    
                    <span i18n>Most of the people you know are in Woorbi.</span>
                   </h2>
                </div>            
              </div>
              <div class="col-12">
                  <br><br><br>
              </div>
           </div>


          <div class="row">
                  <div class="col-12 text-center" >
                     <div class="title"><h4 i18n>Import your contacts to fast connect with them and drive more opportunities</h4></div>
                  </div>
                  <div class="col-12 text-center">
                      <p i18n>Or use either of these options.</p>
                  </div>                                    
           </div>

           <div  class="row justify-content-center">
                  <div class="col-4 col-md-2 col-lg-2  text-center p-1">
                      <a class="center-block" href="/mynetwork/contacts/import-linkedin" title="Linkedin"><img class="img-thumbnail center-block" src="http://www.woorbi.com/icons/linkedin-icon-sm.jpg" alt="Gmail" style="max-width:70px;"></a>
                  </div>
          
                  <div class="col-4 col-md-2 col-lg-2 text-center p-1">
                      <a href="/mynetwork/contacts/import-google" title="Gmail"><img class="img-thumbnail center-block" src="http://www.woorbi.com/icons/gmail-icon-sm.jpg" alt="Gmail" style="max-width:70px;"></a>
                  </div>
          
                  <div class="col-4 col-md-2 col-lg-2 text-center p-1">
                      <a href="/mynetwork/contacts/import-yahoo" title="Yahoo"><img class="img-thumbnail center-block" src="http://www.woorbi.com/icons/yahoo-icon-sm.jpg" alt="Yahoo" style="max-width:70px;"></a>
                  </div>
          
                  <div class="col-4 col-md-2 col-lg-2 text-center p-1">
                      <a href="/mynetwork/contacts/import-outlook" title="Outlook/Hotmail"><img class="img-thumbnail center-block" src="http://www.woorbi.com/icons/outlook-icon-sm.jpg" alt="Outlook/Hotmail" style="max-width:70px;"></a>
                  </div>
          
                  <div class="col-4 col-md-2 col-lg-2 text-center p-1">
                      <a href="/mynetwork/contacts/import-email" title="Invite by Email"><img class="img-thumbnail center-block" src="http://www.woorbi.com/icons/email-icon-sm.jpg" alt="" style="max-width:70px;"></a>
                  </div>
          
                  <div class="col-4 col-md-2 col-lg-2 text-center p-1">
                      <a href="/mynetwork/contacts/import-upload" title="Upload a File"><img class="img-thumbnail center-block" src="http://www.woorbi.com/icons/upload-icon-sm.jpg" alt="" style="max-width:70px;"></a>
                  </div>
           </div> 
           <br>           
            
          </div>
        </div>
  </div>
  </div>
  </div>
  </app-wf-main-content>
  <!--Main layout-->
  <app-wf-footer></app-wf-footer>
  