<div class="container-fluid m-0 px-0" style="min-height: 100%;">
    <div class="row mx-0" style="min-height: 80vh;">
        <div class="col-12 mx-0 px-0 bg-white">
            <div class="d-block wb-page-header-container mx-auto">
                <app-page-header [nav_tab]="menu_tab_name"></app-page-header>
            </div>
        </div>
        <div class="col-12 mx-0 px-0">
            <div class="d-block wb-page-content-container p-0 mx-auto w-100">
                <div class="row  p-0 m-0">
                    <div class="col-12 p-0 mx-0">
                        <app-page-photos-widget></app-page-photos-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>