
    <div class="container-fluid"  style="padding:0px;">
      <div class="row w-100  mx-auto">
        <div class="col-xs-14 col-sm-10 col-lg-4 col-lg-4 mx-auto" style="padding:0px;">
    <div class="card1">
    <div class="card-body">
              <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="text-center p-1">                    
              <h4>Reset Your Password</h4>
              <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"  class="alert alert-danger text-center" role="alert"> 
                <div *ngFor="let error of errors">{{ error }}</div>
                </div>
                <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"   class="alert alert-info text-center" role="alert">  
                <div *ngFor="let message of messages">{{ message }}</div>
                </div>
                <div *ngIf="processing_request" class="d-block text-center color-primary">
                      <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-primary"></i>
                      <span class="sr-only color-primary">Loading...</span>
                </div>               				
                  <div class="form-group">
                      <input type="password" formControlName="password" [(ngModel)]="model.password" class="form-control form-rounded" placeholder="New Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                          <div *ngIf="f.password.errors.required">Password is required</div>
                          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <input type="password" formControlName="reset_password" [(ngModel)]="model.reset_password" class="form-control form-rounded" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.reset_password.errors }" />
                      <div *ngIf="submitted && f.reset_password.errors" class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                          <div *ngIf="f.reset_password.errors.required">Password is required</div>
                          <div class="error" *ngIf="formGroup.get('reset_password').errors && formGroup.get('reset_password').errors.ConfirmPassword">
                            Confirm Password didn't match.
                           </div>
                      </div>
                  </div>	  
                 <button class="btn btn-primary btn-rounded btn-block my-4 waves-effect z-depth-0">Reset Password</button>

              </form>		  
          </div>
    </div>
        </div>
      </div>
  </div>