<div class="d-block w-100 mx-0">
    <div class="row mx-0">
        <div class="col-12">
            <a routerLink="/{{dwViewerService.VIEWER_URL}}/create-job"
                class="btn btn-sm btn-rounded btn-outline-primary pull-left">
                <span class="fa fa-plus"></span><span>&nbsp;</span>
                <span>New Job</span>
            </a>
        </div>
    </div>
</div>

<ng-container *ngIf="JOBSCHEDULE_LIST.length>0">
    <ng-container *ngFor="let job_ad_schedule of JOBSCHEDULE_LIST;let i = index">
        <app-dw-empoloyer-job-schedule-list-item-widget [jobscheduleItem]="job_ad_schedule" [renderedIn]="'JOB_LIST'">
        </app-dw-empoloyer-job-schedule-list-item-widget>
    </ng-container>
</ng-container>

<ng-container *ngIf="JOB_LIST.length>0">
    <ng-container *ngFor="let JOB_AD of JOB_LIST">
        <app-dw-empoloyer-job-list-item-widget [jobItem]="JOB_AD" (itemUpdated)="jobItemUpdate($event)"></app-dw-empoloyer-job-list-item-widget>
    </ng-container>
</ng-container>

<app-dw-employer-profile-viewer-modal [back_route]="''" [display_text]="''"></app-dw-employer-profile-viewer-modal>