<app-ads-nav-bar></app-ads-nav-bar>
<app-ads-main-content>
    <div class="container-fluid px-md-5 px-lg-5" style="min-height: 100%;">
        <div class="row" style="min-height: 80vh;">
            <div class="col-12 p-0">

                <div class="d-block w-100">
                    <app-ads-nav-tabs-widget [tab]='tabname'></app-ads-nav-tabs-widget>
                </div>
                <div class="d-block w-100">

                </div>
            </div>
        </div>
    </div>
</app-ads-main-content>