<div class="card p-0 m-md-1 m-lg-1 m-xl-1" style="min-height: 80vh;">
    <div class="card-body px-0 py-1">
        <div class="font-weight-bold wb-font-size-120 mx-2">Notifications</div>
        <div *ngIf="notificationsService.NOTIFICATIONS.length" class="row p-0 m-0">
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                (scrolled)="notificationsService.onScrollDown()" [scrollWindow]="true" id="scroller"
                *ngFor="let notification of notificationsService.NOTIFICATIONS" class="col-12 m-0 px-0">
                <app-page-notification-widget [notification]="notification"></app-page-notification-widget>
            </div>
        </div>
        <ng-container *ngIf="notificationsService.loading_notifications">
            <div clas="row mx-0">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <app-loading-circles></app-loading-circles>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <span>Loading...</span>
                </div>
            </div>
        </ng-container>
    </div>
</div>