<ng-container *ngIf="urlviwerService.PPVIEWER.type=='profile' && urlviwerService.PPVIEWER.profile">
    <app-profile></app-profile>
</ng-container>
<ng-container *ngIf="urlviwerService.PPVIEWER.type=='page' && urlviwerService.PPVIEWER.page">
    <app-page></app-page>
</ng-container>

<ng-container *ngIf="urlviwerService.PPVIEWER.type==''">
    <app-wf-navbar></app-wf-navbar>
    <app-wf-main-content>
        <div class="container-fluid px-md-5 px-lg-5">
            <div class="row" style="min-height: 80vh;">
                <ng-container *ngIf="urlviwerService.loading_viewer==true">
                    <div class="col-12 h-100 mx-auto my-auto  d-flex justify-content-center align-items-center text-center "
                        style="font-size: 120%;">
                        <app-loading-bars></app-loading-bars>
                    </div>
                </ng-container>

                <ng-container *ngIf="urlviwerService.loading_viewer==false">
                    <div class="col-12 h-100 mx-auto my-auto d-flex justify-content-center align-items-center">
                        <app-wb-content-not-found-page></app-wb-content-not-found-page>
                    </div>
                </ng-container>
            </div>
        </div>
    </app-wf-main-content>
    <!--Main layout-->
    <app-wf-footer></app-wf-footer>
</ng-container>