
    <div class="container-fluid"  style="padding:0px;">
        <div class="row w-100  mx-auto">
          <div class="col-xs-14 col-sm-10 col-lg-4 col-lg-4 mx-auto" style="padding:0px;">
		  <div class="card1">
		  <div class="card-body">
                <form [formGroup]="formGroup" (ngSubmit)="login()" class="text-center p-1">
                    
              <h4>Login to Woorbi?</h4>	
          <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"  class="alert alert-info text-danger" role="alert"> 
				   <div *ngFor="let error of errors">{{ error }}</div>
				   </div>
				   <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"   class="alert alert-success" role="alert"> 
				     <div><strong>Hooray!</strong></div> 
					 <div *ngFor="let message of messages">{{ message }}</div>
				   </div>
                   <div *ngIf="service.processing_request" class="d-block text-center color-primary">
                          <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-primary"></i>
                          <span class="sr-only color-primary">Loading...</span>
                   </div>
				   
                    <div class="form-group">
                        <input type="text" formControlName="username" [(ngModel)]="model.username" class="form-control form-rounded" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                            <div *ngIf="f.username.errors.required">Email is required</div>
                            <div *ngIf="f.username.errors.username">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="password"  [(ngModel)]="model.password" class="form-control form-rounded" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
					
      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
          </div>
        </div>
        <div>
          <!-- Forgot password -->
          <a routerLink="/request-password-reset">Forgot password?</a>
        </div>
      </div>
	  
    <!-- Sign up button -->
    <button type="submit" class="btn btn-primary btn-rounded btn-block my-4 waves-effect z-depth-0">Log In</button>
      <!-- Register -->
            <!-- Social register -->
            <p>or sign in with:</p>

            <a type="button" (click)="signInWithGoogle()" class="btn-floating btn-danger btn-sm" title="Google Account">
              <i class="fa fa-google"></i>
            </a>
            <a type="button" (click)="signInWithFB()" class="btn-floating btn-fb btn-sm" title="Facebook Account">
                <i class="fa fa-facebook"></i>
            </a>
            <a type="button" (click)="signInWithLinkedIn()" class="btn-floating btn-li btn-sm" title="Linkedin Account">
                <i class="fa fa-linkedin"></i>
            </a>
            <!--
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fa fa-github"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fa fa-twitter"></i>
            </a>
            -->            

            <hr>
      <p class="w-100 pull-right text-right">New to Woorbi?
        <a routerLink="/join">Join Now</a>
      </p>
                </form>		  
            </div>
			</div>
          </div>
        </div>
    </div>