<app-wf-navbar class="d-none d-md-block d-lg-block"></app-wf-navbar>
<app-wf-navbar-summary [back_route]="parent_route" [display_text]="title" class="d-block d-md-none d-lg-none"></app-wf-navbar-summary>      
   
<app-wf-main-content>

<div  class="container-fluid px-md-5 px-lg-5" style="min-height: 100%;">
<div class="row" style="min-height: 80vh;">
  <div class="col-xs-12 col-sm-12 col-md-4  d-none d-md-block d-lg-block col-lg-4">
      <app-wf-right-sidebar></app-wf-right-sidebar>
  </div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  p-0">
<div class="card w-100">
  <div class="card-header py-0 px-0">
    <app-search-nav-widget [tab]="tab_name"></app-search-nav-widget>
  </div>
  <div class="card-body p-0">
      

    

  </div>
</div>

      
</div>
</div>
</div>
</app-wf-main-content>
<!--Main layout-->
<app-wf-footer></app-wf-footer>
