<div class="d-block p-0 m-0" style="border:1px solid purple;">

    <div class="d-block wf-profile-hearder" style="border:1px solid cyan;">
        <div class="d-block wf-profile-cover">
      
        </div>
        <div class="wf-profile-image-container">
          <div class="wf-profile-img">
            <img src="http://app.epanko.com/content/photos/face/85photoKmtOi3ttXa5oQ9pARAL5vYFFHT02fluU.jpg" class="img-fluid rounded-circle img-thumbnail">
          </div>
        </div>
        <div class="wf-profile-action-buttons">
          <div class="d-block float-right">
                <button class="btn btn-outline-primary btn-sm btn-rounded waves-effect"><span class="fa fa-user-plus"></span><ng-container i18n> <span>&nbsp;</span>Connect</ng-container></button>
                <button class="btn btn-primary btn-sm btn-rounded waves-effect"><span class="fa fa-pencil"></span><ng-container i18n> <span>&nbsp;</span>Edit</ng-container></button>
          </div>
      
        </div>  
      </div>
      <div class="d-block p-2">
          <div class="row">
            <div class="col-12 col-md-8 col-lg-8">
               <h4>Kinggeorge Magaga</h4>
               <span>@KinggeorgeMagaga</span>
               <div class="d-block">
                 Student at CIVE
               </div>
               <div class="d-block">
                 <span class="fa fa-map-marker"></span> Dar es Salaam,Tanzania.
               </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <div class="d-block">
                    47 Posts
                  </div>        
                 <div class="d-block">
                   233 Connections
                 </div>
              </div>      
          </div>
          <div class="row my-2">
            <div class="col-12">
                A Tanzanian computer programmer and Internet entrepreneur. He is the chairman, chief executive officer, and Founder at Epanko.
                
            <p>I Train about people's characters vs their blood type groups and how it affects their relationship with others .What foods they should eat more and what they should avoid.Do you know that every person with Type "O" Blood carriesu a genetic memory of strength ,endurance ,self reliance,daring,intuition and innate optimism ?What about other Blood type Blood groups?</p>
            </div>
          </div>
      </div>
</div>