<div class="d-block">
  <h4 class="p-0 my-0">{{urlviewerService.PPVIEWER.profile.name}}</h4>
  <div class="p-0 my-0" class="d-block">@{{urlviewerService.PPVIEWER.profile.url}}</div>
  <div *ngIf="urlviewerService.PPVIEWER.profile.title!=''" class="d-block profile-title">
    {{urlviewerService.PPVIEWER.profile.title}}
  </div>
  <div class="d-block">
    <span *ngIf="urlviewerService.PPVIEWER.profile.location.name!='NONE'"><span class="fa fa-map-marker"></span>
      {{urlviewerService.PPVIEWER.profile.location.name}}</span>
    <span>&nbsp;&nbsp;</span>
    <a *ngIf="urlviewerService.PPVIEWER.profile.no_connections>0"
      routerLink="/{{urlviewerService.PPVIEWER.profile.url}}/connections"
      class="font-weight-bold text-primary">{{urlviewerService.PPVIEWER.profile.no_connections}}
      <ng-container *ngIf="urlviewerService.PPVIEWER.profile.no_connections==1">
        <span>Connection</span>
      </ng-container>
      <ng-container *ngIf="urlviewerService.PPVIEWER.profile.no_connections>1">
        <span>Connections</span>
      </ng-container>      
    </a>
  </div>
</div>