
    <div class="container-fluid"  style="padding:0px;">
      <div class="row w-100  mx-auto">
        <div class="col-xs-14 col-sm-10 col-lg-4 col-lg-4 mx-auto" style="padding:0px;">
    <div class="card1">
    <div class="card-body">

              <form *ngIf="reset_code_sent==true" [formGroup]="verify_formGroup" (ngSubmit)="VerifyCode()" class="text-center p-1">
                  <h5>Verify Reset Code</h5>
                 
                <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"  class="alert alert-danger text-center" role="alert"> 
                  <div *ngFor="let error of errors">{{ error }}</div>
                  </div>
                  <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"   class="alert alert-info text-center" role="alert">  
                    <h5>Check your email</h5>
                    <div *ngFor="let message of messages">{{ message }}</div>
                  </div>
                  <div *ngIf="processing_request" class="d-block text-center color-primary">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-primary"></i>
                        <span class="sr-only color-primary">Loading...</span>
                  </div>                
                <div class="form-group">

                    <div class="row">
                        <div class="col-md-12  d-flex justify-content-center align-items-center">
                         <label for="inputState" i18n>Enter Verification Code</label>
                    </div>
                    <div class="col-md-12  d-flex justify-content-center align-items-center">
                         <span [textContent]="str_success_code" style="color:green;"></span>
                    </div>
                    <div class="col-md-12  d-flex justify-content-center align-items-center">		  
                          <input (keyup)="onCodeKey(verifyModel.code)" formControlName="code" [(ngModel)]="verifyModel.code" name="code" autocomplete="off" type="text" class="form-control text-center" maxlength="6" id="vcode_input" min="100000" max="999999" ng-maxlength="6" style="max-width:150px;font-size:25px;" placeholder="_ _ _ _ _ _">
                    </div>	
                    <div class="col-md-12  d-flex justify-content-center align-items-center">
                      <div class="has_error error"  style="color:red;" [textContent]="str_invalid_code"></div>
                    </div>		
                      </div>

                  </div>
  
              <!-- Sign up button -->
                 <div class="row py-0">	  
                  <div class="col-md-12 d-flex justify-content-center align-items-center  py-0">
                    <button [class.disabled]="verify_formGroup.invalid" class="btn btn-primary btn-sm btn-rounded  my-1 waves-effect z-depth-0" i18n>Verify</button>
                  </div>
                </div>
                 
    <p class="w-100 pull-right text-right">
      <a routerLink="/request-password-reset" (click)="NoCodeReceived()">I didn't receive the Code</a>
    </p>		
      
      </form>	
      
              <form *ngIf="reset_code_sent==false" [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="text-center p-1">
              
              <h5 [class.text-danger]="account_not_found">{{title}}</h5>				
              <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"  class="alert alert-danger text-center" role="alert"> 
                <div *ngFor="let error of errors">{{ error }}</div>
                </div>
                <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"   class="alert alert-info text-center" role="alert">  
                <div *ngFor="let message of messages">{{ message }}</div>
                </div>
                <div *ngIf="processing_request" class="d-block text-center color-primary">
                      <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-primary"></i>
                      <span class="sr-only color-primary">Loading...</span>
                </div>            
              <p>{{description}}</p>
     
                  <div class="form-group">
                      <input type="text" formControlName="email" [(ngModel)]="model.email" class="form-control form-rounded" placeholder="Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
  
  <!-- Sign up button -->
  <button class="btn btn-primary btn-rounded btn-block my-4 waves-effect z-depth-0" >Request Code</button>
    <p class="w-100 pull-right text-right">
      <a routerLink="/login">Back to Log In</a>
    </p>	
</form>					

    
          </div>
    </div>
        </div>
      </div>
  </div>