<main class="content container-fluid p-0">
    <div class="container-fluid m-0 p-0">
        <div class="wb-page-manager-left-navigation shadow-sm">
            <app-page-manager-left-menu-widget></app-page-manager-left-menu-widget>
        </div>
        <div class="d-block page-manager-container">
            <div class="row mx-0" style="min-height: 80vh;">
                <div class="col-12 d-block mx-0 px-0">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </div>
</main>
<ng-container *ngIf="editPageService.editMode.inEdit==true && editPageService.editMode.currentEditing!=''">
    <app-edit-page-overlay-container></app-edit-page-overlay-container>
</ng-container>
<app-navigation-watch></app-navigation-watch>
<ng-container *ngIf="appModalService.removeConnectionModel.visible==true">
    <app-delete-connection-modal></app-delete-connection-modal>
</ng-container>