  <!-- ======= Hero Section ======= -->
  <section id="dw-welcome" class="clearfix" style="background: #f5f8fd url('assets/img/daywaka/intro-bg.jpg') center top no-repeat;">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center" data-aos="fade-up">
        <div class="col-md-6 intro-info order-md-first order-last" data-aos="zoom-in" data-aos-delay="100">
          <h2>Rapid Solutions<br>for Your <span>Business!</span></h2>
          <div>
            <a routerLink="/dw-get-started" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-md-6 intro-img order-md-last order-first" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/daywaka/intro-img.svg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->