<section id="how-it-works" class="how-it-works section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row mx-0">
            <div class="col-12 d-flex justify-content-center">
                <header class="section-header">
                    <h3>How it works</h3>
                </header>
            </div>
        </div>

        <div class="row mx-0">
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">1</i></div>
                    <h4 class="title">Download app</h4>
                    <p class="description">Go to App store and download the app</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">2</i></div>
                    <h4 class="title">Signup with Woorbi</h4>
                    <p class="description">If you don't have a Woorbi Account,do a quick signup in app</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">3</i></div>
                    <h4 class="title">Search & Accept Job</h4>
                    <p class="description">Search jobs nearby your location which fits your criteria,capabilities.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow" data-aos="zoom-in" data-aos-delay="100">
                <div class="box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">4</i></div>
                    <h4 class="title">Go and do the Job</h4>
                    <p class="description">Go to job location and do the job,once done Click "Complete" from the app.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                <div class=" box">
                    <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                            style="color: #2282ff;">5</i></div>
                    <h4 class="title">Get Paid</h4>
                    <p class="description">You will then receive your money in your preffered payment method</p>
                </div>
            </div>
        </div>

    </div>
</section>