<ng-container *ngIf="JOB_AD.my_status==null">
    <div class="d-block w-100 my-2">
        <div class="card m-0 p-0">
            <div class="card-body m-0 p-3 w-100">
                <div class="d-flex justify-content-center">
                    <button class="btn btn-sm btn-rounded btn-outline-primary w-100"
                        (click)="jobViewerService.wantToEngageJob(true,'ACCEPT')">Accept</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="JOB_AD.my_status!=null">
    <div class="job-view-actions-buttons">
        <div class="row mx-0 my-auto">
            <div class="col-12 px-0">
                <ng-container *ngIf="JOB_AD.my_status=='Filled'">
                    <div class="row mx-0 my-auto">
                        <div class="col-6">
                            <button class="btn btn-sm btn-rounded btn-primary w-100" (click)="jobViewerService.wantToEngageJob(true,'START')">Start Working</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-sm btn-rounded btn-outline-warning w-100" (click)="jobViewerService.wantToEngageJob(true,'WITHDRAW')">Withdraw</button>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="JOB_AD.my_status=='Started'">
                    <div class="row mx-0 my-auto">
                        <div class="col-12">
                            <button class="btn btn-sm btn-rounded btn-outline-warning w-100" (click)="jobViewerService.wantToEngageJob(true,'COMPLETE')">Complete</button>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="JOB_AD.my_status=='Completed' || JOB_AD.my_status=='Approved'">
                    <div class="row mx-0 h-100" style="border:1px solid green">
                        <div class="col-12 px-0 h-100 timeline-wrap-container" style="border:1px solid greenyellow">

                            <ul class="">
                                <li>
                                    <span class="marker"><i class="fa fa-thumbs-up"></i></span>
                                </li>
                                <li>
                                    <span class="marker"><i class="fa fa-thumbs-up"></i></span>
                                </li>
                                <li>
                                    <span class="marker"><i class="fa fa-thumbs-up"></i></span>
                                </li>
                                <li>
                                    <span class="marker"><i class="fa fa-thumbs-up"></i></span>
                                </li>
                            </ul>




                          <!--
                            <ul id="timeline-wrap" style="padding-left: 0">
                                <div [ngStyle]="{backgroundColor: getColor()}" class="timeline"></div>
                                <li  class="marker mfirst timeline-icon one">
                                    <i class="fa fa-thumbs-up"></i>
                                </li>
                                <li  class="marker m2 timeline-icon two">
                                    <i class="fa fa-thumbs-up"></i>
                                </li>
                                <li  class="marker m3 timeline-icon three">
                                    <i class="fa fa-thumbs-up"></i>
                                </li>
                                <li  class="marker mlast timeline-icon four">
                                    <i class="fa fa-thumbs-up"></i>
                                </li>
                            </ul>

                        -->
                            
                        </div>
                    </div>                 
                </ng-container>                

            </div>
        </div>
    </div>
</ng-container>
