<app-wf-navbar></app-wf-navbar>   
<app-wf-main-content>
<div class="container-fluid px-md-5 px-lg-5" style="min-height: 100%;">
<div class="row" style="min-height: 80vh;">
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 px-auto mx-auto">

     <h4 i18n>Terms of Service</h4>
    <div class="panel">
        <div class="Wf_trans_block">
        <div>These Terms of Service (“<strong>TOS</strong>”) govern your access to and use of the services, including our various websites, SMS, APIs, email notifications, applications, buttons, and widgets, (the "Services" or “Woorbi”), and any information, text, graphics, photos or other materials uploaded, downloaded or appearing on the Services (collectively referred to as "Content"). Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.</div>
        </div>  
        <p>
        <strong>1. Basic Terms.</strong>
        You are responsible for your use of the Services, for any Content you post to the Services, and for any consequences thereof. The Content you submit, post, or display will be able to be viewed by other users of the Services and through third party services and websites (go to the account settings page to control who sees your Content). You should only provide Content that you are comfortable sharing with others under these Terms.
        What you say on Woorbi may be viewed all around the world instantly. You are what you Post!
        You may use the Services only if you can form a binding contract with Woorbi and are not a person barred from receiving services under the laws of the United Republic of Tanzania or other applicable jurisdiction. If you are accepting these Terms and using the Services on behalf of a company, organization, government, or other legal entity, you represent and warrant that you are authorized to do so. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.
        The Services that Woorbi provides are always evolving and the form and nature of the Services that Woorbi provides may change from time to time without prior notice to you. In addition, Woorbi may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. We also retain the right to create limits on use and storage at our sole discretion at any time without prior notice to you.
        The Services may include advertisements, which may be targeted to the Content or information on the Services, queries made through the Services, or other information. The types and extent of advertising by Woorbi on the Services are subject to change. In consideration for Woorbi granting you access to and use of the Services, you agree that Woorbi and its third party providers and partners may place such advertising on the Services or in connection with the display of Content or information from the Services whether submitted by you or others.
        </p>
        
        <p>
        <strong>2. Privacy.</strong>
        Any information that you provide to Woorbi is subject to our Privacy Policy, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the Tanzania and/or other countries for storage, processing and use by Woorbi. As part of providing you the Services, we may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your Woorbi account, which you may not be able to opt-out from receiving. 
        You can opt-out of most communications from Woorbi including our newsletter, new follower emails, etc. Please see the Notifications tab of Settings for more.
        </p>
        
        <p>
        <strong>3. Passwords.</strong>
        You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password. We encourage you to use "strong" passwords (passwords that use a combination of upper and lower case letters, numbers and symbols) with your account. Woorbi cannot and will not be liable for any loss or damage arising from your failure to comply with the above.
        </p>
        <p><strong>4. Content on the Services.</strong>
        All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. We may not monitor or control the Content posted via the Services and, we cannot take responsibility for such Content. Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is at your own risk.
        We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services. You understand that by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. Under no circumstances will Woorbi be liable in any way for any Content, including, but not limited to, any errors or omissions in any Content, or any loss or damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available via the Services or broadcast elsewhere.
        </p>
        
        <p>
        <strong>5. Your Rights.</strong>
        You retain your rights to any Content you submit, post or display on or through the Services. By submitting, posting or displaying Content on or through the Services, you grant us a worldwide, non-exclusive, royalty-free license (with the right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and distribute such Content in any and all media or distribution methods (now known or later developed).
        This license is you authorizing us to make your Posts available to the rest of the world and to let others do the same.
        You agree that this license includes the right for Woorbi to provide, promote, and improve the Services and to make Content submitted to or through the Services available to other companies, organizations or individuals who partner with Woorbi for the syndication, broadcast, distribution or publication of such Content on other media and services, subject to our terms and conditions for such Content use.
        Woorbi has an evolving set of rules for how ecosystem partners can interact with your Content. These rules exist to enable an open ecosystem with your rights in mind. But what’s yours is yours – you own your Content (and your photos are part of that Content).
        Such additional uses by Woorbi, or other companies, organizations or individuals who partner with Woorbi, may be made with no compensation paid to you with respect to the Content that you submit, post, transmit or otherwise make available through the Services.
        We may modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.
        You are responsible for your use of the Services, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party partners. You understand that your Content may be syndicated, broadcast, distributed, or published by our partners and if you do not have the right to submit Content for such use, it may subject you to liability. Woorbi will not be responsible or liable for any use of your Content by Woorbi in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit.
        </p>
        <p>
        <strong>6. Your License To Use the Services.</strong>
        Woorbi gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by Woorbi as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Woorbi, in the manner permitted by these Terms. 
        </p>
        <p>      
        <strong>7. Woorbi Rights.</strong>
        All right, title, and interest in and to the Services (excluding Content provided by users) are and will remain the exclusive property of Woorbi and its licensors. The Services are protected by copyright, trademark, and other laws of both the Tanzania and foreign countries. Nothing in the Terms gives you a right to use the Woorbi name or any of the Woorbi trademarks, logos, domain names, and other distinctive brand features. Any feedback, comments, or suggestions you may provide regarding Woorbi, or the Services is entirely voluntary and we will be free to use such feedback, comments or suggestions as we see fit and without any obligation to you.
        </p>      
        </div> 
</div>
</div>
</div>
</app-wf-main-content>
<!--Main layout-->
<app-wf-footer></app-wf-footer>
