<!--Double navigation-->
<header class="container-fluid px-0">
    <!-- Navbar -->
    <nav class="navbar fixed-top m-0">
        <!-- SideNav slide-out button -->
        <ul class="nav navbar-nav nav-flex-icons float-left px-1 container-fluid  m-0">
            <li class="nav-item float-left">
                <a class="nav-link navbar-brand px-0 mx-0 text-white" (click)="onNavigateBack()"
                    routerLink="/{{back_route}}">
                    <span class="fa fa-arrow-left"></span>
                </a>
            </li>
            <li class="nav-item   float-left">
                <span class="nav-link navbar-brand  px-0 mx-0">
                    {{display_text}}
                </span>
            </li>

        </ul>
    </nav>
    <!-- /.Navbar -->
</header>
<!--/.Double navigation-->