.search-result-profile-card{
   display: block; 
}

.search-result-profile-card a{
    color:#000;
 }


.search-result-profile-card:hover{
    background-color: #06274d;
    text-decoration: none;
 }

 .search-result-profile-card a:hover {
    color:#fff;
    text-decoration: none;
 }
