.cursor-pointer{
    cursor: pointer;
}

.wb-ad-icon-active{
    background-color: #06274d;
}

.wb-ad-icon{
    background-color: #000000;
}

.wb-ad-icon-active-container{
    color: #06274d;
    border:2px solid #06274d;
    font-weight: bold;
}

.identity-dropdown .dropdown-toggle::after{
    display: none;
}


.ads-module-container-fluid{
    min-height: 90vh;
    height: 100%;
    position: relative;
  }

.ads-module-container{
    height: 90vh;
    overflow: hidden;
    position:absolute;
    bottom: 0px;
    left: 0px;
    right:0px;
  }


@media (max-width:767px){
    .ads-module-container-fluid{
        height: 90vh;
      }    
    .ads-module-container{
      height: 90vh;
    }

  }