<div class="profile-card d-block w-100 p-0 h-100 m-0">
  <div class="display-pic">
    <div class="cover-photo">
      <div class="display-pic-gradient">
        <a routerLink="/{{profile.url}}" class="w-100 h-100 p-0 m-0">&nbsp;&nbsp;&nbsp;</a>
      </div>
      <a routerLink="/{{profile.url}}" (click)="urlViewerService.setProfile(profile);" class="w-100 h-100 p-0 m-0">
        <span *ngIf="profile.cover.picture==''">&nbsp;&nbsp;&nbsp;</span>
        <img *ngIf="profile.cover.picture!=''" src="{{profile.cover.picture}}" class="img-fluid">
      </a>
    </div>
    <div class="profile-pic">
      <div class="pic">
        <a routerLink="/{{profile.url}}" (click)="urlViewerService.setProfile(profile);">
          <img src="{{profile.avatar.face}}" class="img-fluid rounded-circle">
        </a>
      </div>
    </div>
  </div>
  <div class="title-container">
    <a routerLink="/{{profile.url}}" (click)="urlViewerService.setProfile(profile);">
      <span class="w-100 d-block text-truncate"> {{profile.name}}<span class="url-tag">@{{profile.url}}</span></span>
    </a>
  </div>
  <div class="details d-block">
    {{profile.title}}
  </div>
  <div *ngIf="profile.my_profile!=true" class="d-block p-0">

   <div class="row mx-0">
     <div class="col-12">
       <app-wb-profile-connect-button [profile_id]="profile.user_id" [connectStatus]="profile.connectStatus"></app-wb-profile-connect-button>
     </div>
   </div>
  </div>
</div>