<div class="card m-0">
    <div class="card-body p-1">
        <div class="d-block w-100">
            <div class="row my-2 mx-0">
                <div class="col-9 font-weight-bold wb-font-size-120">
                    <span>About</span>
                </div>
                <div class="col-3 d-flex justify-content-end align-items-center">
                    <a routerLink="/{{urlviewerService.PPVIEWER.profile.url}}/about" class="btn-link">All</a>
                </div>
            </div>
        </div>
        <ng-container>
            <div class="d-block w-100 m-0 p-0">
                <div *ngIf="urlviewerService.loading_viewer==true || (urlviewerService.PPVIEWER.profile.about!='' && urlviewerService.PPVIEWER.profile.about!=null) || urlviewerService.PPVIEWER.profile.my_profile==true"
                    class="row my-1 mx-0 p-0">

                    <div *ngIf="urlviewerService.PPVIEWER.profile.about!='' && urlviewerService.PPVIEWER.profile.about!=null"
                        class="col-12">
                        <p>
                            {{urlviewerService.PPVIEWER.profile.about}}
                        </p>
                    </div>

                    <div *ngIf="urlviewerService.PPVIEWER.profile.my_profile==true && (urlviewerService.PPVIEWER.profile.about=='' || urlviewerService.PPVIEWER.profile.about==null)"
                        class="col-12 px-1">
                        <div class="list-group w-100 p-0 mx-0">
                            <a routerLink="/{{urlviewerService.PPVIEWER.profile.url}}/about"
                                (click)="editProfileService.EditProfileAbout()" class="list-group-item">
                                <span class="d-block w-100 p-0">
                                    <span style="font-size:110%;">
                                        <span class="fa fa-book"></span></span>
                                    <span class="p-1">Add a summary to tell people about your
                                        working expertise and interests. (<span style="color: darkgray;">It is the first
                                            thing people look when Visiting your profile</span>)</span> <span
                                        class="fa fa-plus"></span>
                                </span></a>
                        </div>
                    </div>
                </div>
            </div>

            <ng-container
                *ngIf="urlviewerService.PPVIEWER.profile.experiences.length || urlviewerService.PPVIEWER.profile.my_profile==true">
                <div class="d-block w-100 m-0 px-2">
                    <ng-container *ngIf="urlviewerService.PPVIEWER.profile.experiences.length">
                        <ng-container
                            *ngFor="let experience of urlviewerService.PPVIEWER.profile.experiences;let i=index">
                            <div *ngIf="i==0" class="d-block p-1">
                                <span class="fa fa-briefcase"></span>
                                <span
                                    *ngIf="experience.position=='' || experience.position=='-'"><span>&nbsp;</span><span
                                        i18n>Worked at</span></span>
                                <span
                                    *ngIf="experience.position!='' && experience.position!='-'"><span>&nbsp;</span><span>{{experience.position}}</span></span>
                                <span>&nbsp;</span><span i18n>at</span>
                                <span>&nbsp;</span><span>{{experience.company_name}}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container
                        *ngIf="urlviewerService.PPVIEWER.profile.my_profile==true && urlviewerService.PPVIEWER.profile.experiences.length==0">
                        <div class="d-block px-0">
                            <div class="list-group w-100 p-0 mx-0 my-1">
                                <a routerLink="/{{urlviewerService.PPVIEWER.profile.url}}/about"
                                    (click)="editProfileService.AddProfileExperience()" class="list-group-item">
                                    <span class="d-block w-100 p-0">
                                        <span style="font-size:110%;">
                                            <span class="fa fa-briefcase"></span></span>
                                        <span class="p-1">Add your work background and experience. </span> <span
                                            class="fa fa-plus"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <ng-container
                *ngIf="urlviewerService.PPVIEWER.profile.educations.length || urlviewerService.PPVIEWER.profile.my_profile==true">
                <div class="d-block w-100 m-0 px-2">
                    <ng-container *ngIf="urlviewerService.PPVIEWER.profile.educations.length">
                        <ng-container
                            *ngFor="let education of urlviewerService.PPVIEWER.profile.educations;let i=index">
                            <div *ngIf="i==0" class="d-block p-1">
                                <span class="fa fa-graduation-cap"></span>
                                <span *ngIf="education.major=='' || education.major=='-'"><span>&nbsp;</span><span
                                        i18n>Went
                                        to </span></span>
                                <span
                                    *ngIf="education.major!='' && education.major!='-'"><span>&nbsp;</span><span>{{education.major}}</span></span>
                                <span>&nbsp;</span><span>{{education.institution_name}}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container
                        *ngIf="urlviewerService.PPVIEWER.profile.my_profile==true && urlviewerService.PPVIEWER.profile.educations.length==0">
                        <div class="d-block px-0">
                            <div class="list-group w-100 p-0 mx-0 my-1">
                                <a routerLink="/{{urlviewerService.PPVIEWER.profile.url}}/about"
                                    (click)="editProfileService.AddProfileEducation()" class="list-group-item">
                                    <span class="d-block w-100 p-0">
                                        <span style="font-size:110%;">
                                            <span class="fa fa-graduation-cap"></span></span>
                                        <span class="p-1">Add your Education background </span> <span
                                            class="fa fa-plus"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngIf="urlviewerService.PPVIEWER.profile.dealing.length">
                <div class="d-block w-100 m-0 py-1 px-3">
                    <span class="font-weight-bold">Deals with</span>
                    <ng-container *ngFor="let deal of urlviewerService.PPVIEWER.profile.dealing;let i = index">
                        <ng-container *ngIf="i<5">
                            <span class="chip" style="margin:1px;">{{deal.i_name}}</span>
                        </ng-container>
                        <span *ngIf="i==5">...</span>
                    </ng-container>

                </div>
            </ng-container>
            <ng-container *ngIf="urlviewerService.PPVIEWER.profile.skills.length">
                <div class="d-block w-100 m-0 py-1 px-3">
                    <span class="font-weight-bold">Knows</span>
                    <ng-container *ngFor="let skill of urlviewerService.PPVIEWER.profile.skills;let i = index">
                        <ng-container *ngIf="i<5">
                            <span class="chip" style="margin:1px;">{{skill.s_name}}</span>
                        </ng-container>
                        <span *ngIf="i==5">...</span>
                    </ng-container>
                </div>
            </ng-container>
        </ng-container>
        <div *ngIf="urlviewerService.loading_viewer" class="d-block p-0 m-0 text-center">
            <span class="fa fa-spinner fa-pulse fa-fw"></span>
        </div>
    </div>
</div>