<div class="card p-1">
    <div class="card-body p-0">
        <div class="d-block w-100">
            <div class="row my-2 mx-0">
                <div class="col-10">
                    <h5>Work Story</h5>
                </div>
                <div class="col-2 pull-right">
                    <span *ngIf="urlViewerService.PPVIEWER.profile.my_profile==true" class="pull-right"
                        style="font-size: 150%;cursor: pointer;" (click)="editProfileService.AddProfileExperience()">
                        <span class="fa fa-plus-circle"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="d-block  w-100">
            <div *ngIf="urlViewerService.PPVIEWER.profile.experiences.length" class="d-block">
                <div *ngFor="let experience of urlViewerService.PPVIEWER.profile.experiences;let i=index;"
                    class="row px-0 w-100 mx-0 p-0">
                    <div class="col-2 col-md-1 col-lg-1 mx-0" style="font-size: 200%;">
                        <span class="fa fa-building-o"></span>
                    </div>
                    <div class="col-10 col-md-11 col-lg-11 mx-0 p-0">
                        <div class="row px-0 mx-0">
                            <div class="col-10 col-md-11 col-lg-11 col-xl-11 p-1">
                                <div class="w-100 font-weight-bold">{{experience.position}}</div>
                                <div class="w-100">{{experience.company_name}}</div>
                                <div class="w-100">{{experience.from_to}}</div>
                            </div>
                            <div class="col-2 col-md-1 col-lg-1 col-xl-1">
                                <span *ngIf="urlViewerService.PPVIEWER.profile.my_profile==true" class="pull-right p-2"
                                    style="font-size: 150;cursor: pointer;"
                                    (click)="editProfileService.EditProfileExperience(experience)">
                                    <span class="fa fa-pencil"></span>
                                </span>
                            </div>
                            <div class="col-12 p-1">
                                <div class="w-100">
                                    <p>{{experience.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="urlViewerService.PPVIEWER.profile.my_profile==true && urlViewerService.PPVIEWER.profile.experiences.length==0" class="d-block">
                <div class="row px-0 w-100 mx-0 p-0">
                    <div class="col-12 mx-0" style="font-size: 110%;">
                        <div class="list-group w-100 p-0 mx-0">
                            <span class="list-group-item w-100" (click)="editProfileService.AddProfileExperience()" style="cursor: pointer;">
                                <span style="font-size:110%;">
                                    <span class="fa fa-building-o"></span></span>
                                <span class="p-1">Add your work story,tell people your work background,experiences,achievements and expertise. </span> <span
                                    class="fa fa-plus"></span>
                            </span>
                        </div>
                    </div>
                </div>   
            </div>

        </div>
    </div>
</div>