<div class="faint-body-overlay d-block">

    <div class="container-fluid" style="padding:0px;border:1px solid blue;">
        <div class="d-block py-0" style="border:1px solid green;">
           <div  class="row mx-0"   style="border:1px solid red;">
              <div class="col-12"   style="border:1px solid red;">
                <div class="d-block overlay-close-btn pull-right align-middle"> <span class="fa fa-close" style="font-size: 120%;vertical-align: middle;"></span></div> 
              </div>
           </div>
        </div>
        <div class="d-block"  style="border:1px solid red;">
        <div class="row mx-auto"  style="border:1px solid red;">
            <div class="col-xs-14 col-sm-10 col-lg-10 col-lg-10 mx-auto" style="padding:0px;border:1px solid red;">
                
            <ng-content></ng-content>
                
            </div>
        </div>
    </div>
    </div>
</div>