
<div class="card m-2 p-0">
  <div class="card-body p-0" >
    <a href="{{link.url}}"  target="_blank" class="d-block m-0 p-0" >
      <span *ngIf="link.image!=''" class="d-block row m-0">
     <span class="d-inline-block col-3 p-0 lnk-pre-imageContainer" style="float:left;overflow-y:hidden;vertical-align: middle;">
      <img src="{{link.image}}" class="img-fluid" style="max-height:200px;width:100%;">

     </span>
     <span class="d-inline-block col-9 p-2 cut-text"  style="float:left;max-height:200px;">
        <h5 class="d-block">{{link.title}}</h5>
         <p class="cut-text">{{link.description}}</p>
         <span *ngIf="link.canonicalUrl!=''">{{link.canonicalUrl}}</span>
    </span>
     </span>
     <span *ngIf="link.image==''" class="d-block row m-0">
        <span class="d-inline-block col-12 col-md-12 col-lg-12 p-2"  style="float:left;">
            <h5 class="d-block">{{link.title}}</h5>
             <p class="cut-text">{{link.description}}</p>
             <span *ngIf="link.canonicalUrl!=''">{{link.canonicalUrl}}</span>
        </span>
     </span>
    </a>
  </div>
</div>