.lnk-pre-imageContainer{
    place-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    vertical-align: middle;
}

.lnk-pre-imageContainer img{
    place-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    vertical-align: middle;
}