<app-ads-nav-bar></app-ads-nav-bar>
<app-ads-main-content>
    <div class="container-fluid px-md-5 px-lg-5" style="min-height: 100%;">
        <div class="row" style="min-height: 80vh;">
            <div class="col-12 p-0">
                <div class="d-flex justify-content-center align-items-center h-100 w-100 d">
                    <span class="fa fa-spinner fa-pulse fa-fw"></span> Loading Ads Manager...
                </div>                
            </div>
        </div>
    </div>
</app-ads-main-content>