main.content{
    position:relative;
    margin-top:65px;
    padding:0px;
    margin-left:0px;
    margin-right:0px;
    }
    
    
    @media (max-width: 767px) {
    main.content{
    position:relative;
    margin-top:55px;
    padding:0px;
    margin-left:0px;
    margin-right:0px;
    }
    }