.job-detail-map {
    height: 80vw;
}

.text-content {
    white-space: pre-line;
}

.job-details-content {
    display: block;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.has-actions-buttons {
    padding-bottom: 60px;
}

