<div class="modal-header">
    <h6 class="modal-title" id="modal-title" i18n>Report Content</h6>
    <button type="button" class="close btn-sm" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form *ngIf="report_model.done_reporting!=true" [formGroup]="frm_gGroup" (ngSubmit)="report()" #reportContentForm="ngForm">
          <div class="form-row col-xs-12 col-sm-12 col-md-12 col-md-12"  [ngClass]="{ 'is-invalid': submitted && f.what.errors }">
              <label for="inputmessage" i18n>Why are your Reporting this?</label>
          <div class="w-100">
              <div *ngFor="let report_type of report_types" class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" formControlName="what" [(ngModel)]="report_model.what"  [checked]="report_model.what===report_type.id" id="what_{{report_type.id}}" name="what" value="{{report_type.id}}">
                  <label class="custom-control-label" for="what_{{report_type.id}}">{{report_type.name}}</label>
                </div>	
              </div>
            </div>
           <div *ngIf="report_types.length<1" class="w-100 text-center">
              <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
              <span class="sr-only">Loading...</span>
            </div> 
      </form>
      
      <div *ngIf="report_model.done_reporting==true" class="w-100 align-middel text-center">
      
          <span class="fa fa-check-circle"></span> <span>Thanks for letting us know! We will work on your information and act accordingly.</span>
      </div>
  </div>
  <div *ngIf="report_model.done_reporting!=true" class="modal-footer p-1">
    <button type="button" [disabled]="this.frm_gGroup.invalid" class="btn btn-primary btn-sm pull-right" (click)="report()" i18n>Submit Report</button>
  </div>