<ng-container *ngIf="editProfileService.editMode.inEdit==true && editProfileService.editMode.currentEditing!=''">
    <div class="faint-body-overlay d-block">

        <div class="container-fluid" style="padding:0px;">
            <div style="position: absolute;top:0px;bottom:0px;left:0px;right:0px;">
                <div class="d-block h-100 w-100">
                    <ng-container *ngIf="editProfileService.editMode.currentEditing=='profileCover'">
                        <ng-container *ngIf="editProfileService.editMode.coverEdit.selectOptions==true">
                            <app-edit-cover-options-widget></app-edit-cover-options-widget>
                        </ng-container>
                        <ng-container
                            *ngIf="editProfileService.editMode.coverEdit.selectOptions==false && editProfileService.editMode.coverEdit.selectedOption=='UploadCover'">
                            <app-crop-cover-widget></app-crop-cover-widget>
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="editProfileService.editMode.currentEditing=='profileAvatar'">
                        <ng-container *ngIf="editProfileService.editMode.avatarEdit.selectOptions==true">
                            <app-edit-avatar-options-widget></app-edit-avatar-options-widget>
                        </ng-container>
                        <ng-container
                            *ngIf="editProfileService.editMode.avatarEdit.selectOptions==false && editProfileService.editMode.avatarEdit.selectedOption=='UploadAvatar'">
                            <app-crop-avatar-widget></app-crop-avatar-widget>
                        </ng-container>
                    </ng-container>
                    
                </div>
            </div>
        </div>
    </div>
</ng-container>