<!-- Navbar -->
<nav class="navbar navbar-ads-nav m-0 w-100 p-0">
  <ul class="nav navbar-nav nav-flex-icons container-fluid border-light p-0 m-0 content-justify-center">
    <li class="nav-item d-inline-block" [class.active]="tab=='ads'" style="width:49%;">
      <a  routerLink="/adsmanager/ads" class="nav-link waves-effect waves-light w-100 text-center">
         <span class="clearfix">Ads </span>
        </a>
    </li>				  
    <li class="nav-item d-inline-block" [class.active]="tab=='accounts'" style="width:49%;">
      <a  routerLink="/adsmanager/accounts"  class="nav-link waves-effect waves-light text-center">
         <span class="clearfix">Account </span>
      </a>
    </li>				                                             	                
  </ul>				
</nav>