<header class="container-fluid px-0 d-block d-md-none d-lg-none d-xl-none">
    <nav class="navbar fixed-top px-0 px-md-5 px-lg-5 m-0 py-0">
        <div class="d-block w-100 p-0 m-0"  style="border:3px solid transparent;">
            <div class="row m-0 py-0">
                <div
                    class="col-2 d-block d-md-none d-lg-none d-xl-none d-flex justify-content-center align-items-center">
                    <a routerLink="/feed" class="navbar-brand text-white">
                        <span class="p-1"> <span class="fa fa-arrow-left"></span></span>
                    </a>
                </div>
                <div class="col-8 col-md-10 col-lg-10 col-xl-10 d-flex justify-content-start">
                    <span class="p-1 navbar-brand text-white"> <span class="font-weight-bold">Messaging</span> </span>
                </div>
                <div class="col-2 d-flex justify-content-center align-items-center">
                    <a routerLink="/messages/thread/new" class="navbar-brand text-white">
                        <span class="p-1"> <span class="fa fa-user-plus"></span> </span>
                    </a>
                </div>
            </div>

        </div>
    </nav>
</header>