<div class="card windo-post-card mx-0 px-0" id="feed_item_{{feed.id}}">
<div *ngIf="feed.hidden_post!=true" class="card-header with-border">
  <div class="mr-4 d-block text-truncate" *ngIf="feed.post_type!='STATUS_UPDATE'" style="font-size:95%;font-style:italic;padding-bottom:5px;margin-top:0px;">
      <a routerLink="/{{feed.profile.url}}" (click)="urlViewerService.setProfile(feed.profile);">{{feed.profile.name}}</a> 
       <ng-container *ngIf="feed.post_type=='PROFILE_COVER'"> <span> updated profile cover</span></ng-container>
       <ng-container *ngIf="feed.post_type=='PROFILE_PHOTO'"> <span> updated profile picture</span></ng-container>
      <hr style="margin-bottom:5px;margin-top:5px;">
  </div>

  <div class="user-block">
      <a routerLink="/{{feed.profile.url}}"  (mouseover)="hovercardService.OnHover($event,feed.profile)"  (click)="hovercardService.OnMouseOut($event);urlViewerService.setProfile(feed.profile);" (mouseleave)="hovercardService.OnMouseOut($event)"><img class="rounded-circle img-fluid" src="{{feed.profile.avatar.face}}" alt=""></a>

      <span class="username mr-4">
      <a class="w-100 d-block text-truncate"  (mouseover)="hovercardService.OnHover($event,feed.profile)" (click)="hovercardService.OnMouseOut($event);urlViewerService.setProfile(feed.profile);" (mouseleave)="hovercardService.OnMouseOut($event)"  routerLink="/{{feed.profile.url}}">{{feed.profile.name}} <span class="url-tag">@{{feed.profile.url}}</span></a>
      </span>

      <span class="description">
      <span class="d-block text-truncate">{{feed.profile.short_info}}</span>
      <span class="d-block text-truncate"><a href="javascript:void(0)" title="Everyone"><i class="fa fa-globe"></i></a>  <a routerLink="#" onclick="return false;" title="{{feed.updated_at.title}}">{{feed.updated_at.date}} <i *ngIf="feed.updated_at.title!=feed.created_at.title" i18n>Edited</i></a></span>
      </span>

  </div>

  <div class="card-tools">
    <div class="dropdown btn-group" ngbDropdown placement="bottom-right">
      <a class="px-2" ngbDropdownToggle></a>
      <ul class="dropdown-menu  dropdown-menu-left" ngbDropdownMenu style="position:absolute;left:10px;">
        <li *ngIf="feed.my_post==true" class="dropdown-item"><a href="javascript:void(0);" (click)="feedService.setEdititablePost(feed)"><span class="fa fa-edit"></span><span>&nbsp;</span> <ng-container i18n>Edit</ng-container></a></li>
        <li *ngIf="feed.my_post==true" class="dropdown-item"><a href="javascript:void(0);" (click)="feedService.confirmDeletePost(feed.id)"><span class="fa fa-trash"></span><span>&nbsp;</span>  <ng-container i18n>Delete</ng-container></a></li>

            <li *ngIf="feed.my_post!=true" class="dropdown-item"><a href="javascript:void(0);" (click)="feedService.reportPostContent(feed.id)"><span class="fa fa-flag-o"></span><span>&nbsp;</span>  <ng-container i18n>Report this</ng-container></a></li>  
            <li *ngIf="feed.my_post!=true" class="dropdown-item"><a href="javascript:void(0);" (click)="feedService.hidePost(feed.id)"><span class="fa fa-eye-slash"></span><span>&nbsp;</span>  <ng-container i18n>Hide thi Post</ng-container></a></li> 
            <li *ngIf="feed.my_post!=true" class="dropdown-item"><a href="javascript:void(0);" (click)="feedService.reportPostContent(feed.id)"><span class="fa fa-flag-o"></span><span>&nbsp;</span>  <ng-container i18n>Unfollow</ng-container> {{feed.profile.name}}</a></li>  
        
    </ul>
    </div>
  </div>

</div>

<div *ngIf="feed.hidden_post!=true" class="card-body" style="overflow:hidden;">

  <p *ngIf="feed.message!=''" class="p-1" id="post-content-container">{{feed.message}}</p>

  <div  class="w-100">
        <div *ngFor="let feed_image of feed.images"  [ngStyle]="{'background-image':'url(' + feed_image.data.url + ')','min-height':''+getPictureHeight(feed_image.data.width,feed_image.data.height)+'px'}" class="w-100" style="background-size: 100%;background-repeat: no-repeat;border-radius:0px;">
        </div>
  </div>
  <div *ngIf="feed.links.length" class="w-100">
       <div *ngFor="let link of feed.links" class="w-100">
           <app-link-preview-widget [link]="link"></app-link-preview-widget>
       </div>

  </div>

  <div *ngIf="feed.no_comments>0 || feed.no_likes>0" class="row" style="padding:0px;margin:0px;">
        <div class="col-md-12"> 
                <span *ngIf="feed.no_likes>0" class="post-statistics woorbi-post-statistics">					  
                        <a href="javascript:void(0);" (click)="feedService.showPostLikes(feed.id,feed.no_likes)" class="show-post-no-likes windo-list-tooltip tooltipstered" ><span *ngIf="feed.no_likes>0">{{feed.no_likes}}</span> <span i18n>Loves</span></a>
                </span>
                <span>&nbsp;&nbsp;</span>
                <span *ngIf="feed.no_comments>0" class="post-statistics woorbi-post-statistics">	
                        <a href="javascript:void(0);" class="hidden show-post-no-comments"><span *ngIf="feed.no_comments>0">{{feed.no_comments}}</span> <span i18n>Comments</span></a>
                </span>                           
        </div>
    </div>             
  <div class="row" style="padding:0px;margin:0px;">
        <div class="col-md-12" style="padding:2px;margin:0px;"> </div>
    </div>             
  <div class="row" style="padding:0px;margin:0px;">
      <div class="col-md-12" style="padding:2px;margin:0px;"> </div>
  </div>

<div class="card-footer px-0">
    <div class="row">
            <div class="col-4 text-center px-0">
                <span style="cursor: pointer;" *ngIf="feed.i_like==true" (click)="feedService.feedLike(feed,'unlike')"  class="btn-liked"><span class="fa fa-heart"></span> <span>&nbsp;</span><span i18n>Love</span></span><span  style="cursor: pointer;" *ngIf="feed.i_like!=true" (click)="feedService.feedLike(feed,'like')"><span class="fa fa-heart-o"></span><span>&nbsp;</span><span i18n>Love</span></span>  
            </div>

            <div class="col-4 text-center px-0">
                <a href="javascript:void(0);"  data-guid="317" (click)="commentService.setEditableCommentBlock(feed.id)"><i class="fa fa-comment-o"></i><span>&nbsp;</span><span i18n>Comment</span></a>
            </div>

            <div class="col-4 text-center px-0">    
                    <a href="javascript:void(0);"  data-guid="317" ><i class="fa fa-share"></i><span>&nbsp;</span> <span i18n>Share</span></a>
            </div>

        </div>               
</div>
</div>
</div>