<app-wf-navbar></app-wf-navbar>
<app-wf-main-content>
<div  class="container-fluid px-md-5 px-lg-5" style="min-height: 100%;">
<div class="row" style="min-height: 80vh;">
<div class="col-12 col-md-8 col-lg-8  mx-auto">
  <app-profile-header></app-profile-header>
  <div class="row">
    <div class="col-12">
        <app-profile-skills-widget></app-profile-skills-widget>
    </div>
    <div class="col-12">
        <app-profile-dealing-widget></app-profile-dealing-widget>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <app-profile-activity-widget></app-profile-activity-widget>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <app-profile-follows-widget></app-profile-follows-widget>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <app-profile-photos-widget></app-profile-photos-widget>
    </div> 
    <div class="col-12 col-md-6 col-lg-6">
        <app-profile-videos-widget></app-profile-videos-widget>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <app-profile-pages-widget></app-profile-pages-widget>
    </div> 
    <div class="col-12">
        <app-profile-contacts-widget></app-profile-contacts-widget>
    </div>        
  </div>
  
</div>
<div class="col-12 col-md-4 col-lg-4  d-none d-md-block d-lg-block pull-right">
<app-wf-right-sidebar></app-wf-right-sidebar>
</div>
</div>
</div>
</app-wf-main-content>
<!--Main layout-->
<app-wf-footer></app-wf-footer>
