.btn-connected {
    background-color: #4285f4 !important;
}
.btn-connected:hover {
    background-color: #752612 !important;
    border: 2px solid #752612 !important;
}
.btn-connected .disconnect {
    display: none;
}
.btn-connected:hover .connected {
    display: none;
    background-color: #4285f4 !important;
}
.btn-connected:hover .disconnect {
    display: block;
}

.btn-connect {
    min-width: 8rem;
    border: 2px solid #4285f4 !important;
    padding: 0.4rem 1.4rem;
    margin: .6rem;
    font-weight: bold;
    font-size: 0.85rem;
    .fa {
        font-size: 0.8rem;
    }
}
