<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">

    <div class="row feature-item">
      <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right" data-aos-delay="150">
        <h4>For workers</h4>
        <p class="wb-font-size-130">
          Browse available work opportunities near your area which fits your skills,and availability.Pick the job and Confirm.
        </p>

        <div class="d-block">
          <a routerLink="/find-work" class="btn btn-sm btn-rounded btn-primary"><span>Get Started</span></a>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
        <h4>For business</h4>
        <p class="wb-font-size-130">
          Quickly find and manage highly-skilled workers in a simple and centralized platform.Post temporary,short term to some long terms jobs and get them filled within hours.
        </p>
        <div class="d-block">
          <a routerLink="/find-workers" class="btn btn-sm btn-rounded btn-primary"><span>Get Started</span></a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- End Features Section -->