<app-wf-navbar class="d-none d-md-block d-lg-block"></app-wf-navbar>
<app-wf-navbar-summary [back_route]="parent_route" [display_text]="title" class="d-block d-md-none d-lg-none">
</app-wf-navbar-summary>

<app-wf-main-content>

  <div class="container-fluid px-md-5 px-lg-5" style="min-height: 100%;">
    <div class="row" style="min-height: 80vh;">
      <div class="d-none d-md-block d-lg-block col-md-3 col-lg-3" style="min-height:80vh;">
        <app-settings-left-widget></app-settings-left-widget>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  p-0">
        <div class="card w-100">
          <div class="card-header py-0">
            <span i18n>Personal Information</span>
          </div>
          <div *ngIf="settingsService.loading_settings==true" class="card-body text-center">
            <span class="fa fa-circle-o-notch fa-spin"></span>
          </div>
          <div *ngIf="settingsService.loading_settings==false" class="card-body p-1">
            <form [formGroup]="accountGroup" (ngSubmit)="save()" class="p-1">
              <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"
                class="alert alert-info text-danger" role="alert">
                <div *ngFor="let error of errors">{{ error }}</div>
              </div>
              <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"
                class="alert alert-success" role="alert">
                <div><strong>Hooray!</strong></div>
                <div *ngFor="let message of messages">{{ message }}</div>
              </div>
              <div class="form">
                <h5 i18n>Update your Personal Information</h5>
                <div class="d-block  set-list-item">
                  <div *ngIf="accountForm.edit_name==false" class="row align-middle py-1">
                    <div class="set-list-item-edit-btn"><span (click)="FormEditName(true)"><span
                          class="fa fa-pencil"></span><span>&nbsp;</span> <span i18n>Edit</span></span></div>
                    <div class="col-12 col-md-3 col-lg-3" i18n>Your Name</div>
                    <div class="col-12 col-md-9 col-lg-9">
                      <p i18n>
                        {{settingsService.personal_contacts.firstname}}&nbsp;{{settingsService.personal_contacts.lastname}}
                      </p>
                    </div>
                  </div>
                  <div *ngIf="accountForm.edit_name" class="row align-middle py-1">
                    <div class="col-12 col-md-3 col-lg-3">Your Name</div>
                    <div class="col-12 col-md-4 col-lg-4">
                      <p>First Name</p>
                      <input type="text" class="form-control form-rounded" name="firstname" formControlName="firstname"
                        [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
                        [(ngModel)]="settingsService.personal_contacts.firstname" placeholder="First Name">
                      <div *ngIf="submitted && f.firstname.errors"
                        class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                        <div *ngIf="f.firstname.errors.required" i18n>Required</div>
                      </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                      <p>Last Name</p>
                      <input type="text" class="form-control form-rounded" name="lastname" formControlName="lastname"
                        [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"
                        [(ngModel)]="settingsService.personal_contacts.lastname" placeholder="Last Name">
                      <div *ngIf="submitted && f.lastname.errors"
                        class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                        <div *ngIf="f.lastname.errors.required" i18n>Required</div>
                      </div>
                    </div>
                     <div class="col-12">
                        <div class="row py-1">
                            <div class="col-12 col-md-3 col-lg-3">&nbsp;&nbsp;</div>
                            <div class="col-12 col-md-9 col-lg-9">
                              <button class="btn btn-sm btn-primary btn-rounded"> <span
                                  *ngIf="submitted==true && accountForm.edit_name"><span
                                    class="fa fa-circle-o-notch fa-spin"></span></span><span>&nbsp;</span>
                                <span>Save</span></button>
                              <span (click)="CanceEdit()" class="btn btn-sm btn-rounded btn-default">Cancel</span>
                            </div>
                          </div>
                     </div>
                  </div>
                </div>

                <div class="d-block  set-list-item">
                  <div *ngIf="accountForm.edit_birthday==false" class="row align-middle py-1">
                    <div class="set-list-item-edit-btn"><span (click)="FormEditBirthday(true)"><span
                          class="fa fa-pencil"></span><span>&nbsp;</span> <span i18n>Edit</span></span></div>
                    <div class="col-12 col-md-3 col-lg-3" i18n>Birth Day</div>
                    <div class="col-12 col-md-9 col-lg-9">
                      <p i18n>
                        {{settingsService.personal_contacts.birthday}}
                      </p>
                    </div>
                  </div>
                  <div *ngIf="accountForm.edit_birthday" class="row align-middle py-1">
                    <div class="col-12 col-md-3 col-lg-3">Birth Day</div>
                    <div class="col-12 col-md-9 col-lg-9">
                      <input type="date" class="form-control form-rounded" name="birthday" [maxlength]="10"
                        formControlName="birthday" (onchange)="correctDate()"
                        [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }"
                        [(ngModel)]="settingsService.personal_contacts.birthday" placeholder="mm/dd/yyyy">
                      <div *ngIf="submitted && f.birthday.errors"
                        class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                        <div *ngIf="f.birthday.errors.required" i18n>Required</div>
                      </div>
                      <button class="btn btn-sm btn-primary btn-rounded"> <span
                          *ngIf="submitted==true && accountForm.edit_birthday"><span
                            class="fa fa-circle-o-notch fa-spin"></span></span><span>&nbsp;</span>
                        <span>Save</span></button>
                      <span (click)="CanceEdit()" class="btn btn-sm btn-rounded btn-default">Cancel</span>
                    </div>
                  </div>
                </div>

                <div class="d-block  set-list-item">
                  <div *ngIf="accountForm.edit_gender==false" class="row align-middle py-1">
                    <div class="set-list-item-edit-btn"><span (click)="FormEditGender(true)"><span
                          class="fa fa-pencil"></span><span>&nbsp;</span> <span i18n>Edit</span></span></div>
                    <div class="col-12 col-md-3 col-lg-3" i18n>Gender</div>
                    <div class="col-12 col-md-9 col-lg-9">
                      <p i18n>
                        {{settingsService.personal_contacts.gender}}
                      </p>
                    </div>
                  </div>
                  <div *ngIf="accountForm.edit_gender" class="row align-middle py-1">
                    <div class="col-12 col-md-3 col-lg-3">Gender</div>
                    <div class="col-12 col-md-9 col-lg-9" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">

                      <div class="custom-control custom-radio custom-control-inline pull-left">
                        <input type="radio" class="custom-control-input" formControlName="gender" name="gender"
                          [(ngModel)]="settingsService.personal_contacts.gender"
                          [checked]="settingsService.personal_contacts.gender==='Male'" id="gender_Male" name="gender"
                          value="Male">
                        <label class="custom-control-label" for="gender_Male" i18n>Male</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline pull-left">
                        <input type="radio" class="custom-control-input" formControlName="gender" name="gender"
                          [(ngModel)]="settingsService.personal_contacts.gender"
                          [checked]="settingsService.personal_contacts.gender==='Female'" id="gender_Female"
                          name="gender" value="Female">
                        <label class="custom-control-label" for="gender_Female" i18n>Female</label>
                      </div>
                      <button class="btn btn-sm btn-primary btn-rounded"> <span
                          *ngIf="submitted==true && accountForm.edit_gender"><span
                            class="fa fa-circle-o-notch fa-spin"></span></span><span>&nbsp;</span>
                        <span>Save</span></button>
                      <span (click)="CanceEdit()" class="btn btn-sm btn-rounded btn-default">Cancel</span>
                    </div>
                  </div>
                </div>

                <div class="d-block  set-list-item">
                  <div *ngIf="accountForm.edit_location==false" class="row align-middle py-1">
                    <div class="set-list-item-edit-btn"><span (click)="FormEditLocation(true)"><span
                          class="fa fa-pencil"></span><span>&nbsp;</span> <span i18n>Edit</span></span></div>
                    <div class="col-12 col-md-3 col-lg-3" i18n>Current Location</div>
                    <div class="col-12 col-md-9 col-lg-9">
                      <p i18n>
                          {{settingsService.personal_contacts.city}} &nbsp;{{settingsService.personal_contacts.country_name}}
                      </p>
                    </div>
                  </div>
                  <div *ngIf="accountForm.edit_location" class="row align-middle py-1">
                    <div class="col-12 col-md-3 col-lg-3">Current Location</div>
                    <div class="col-12 col-md-5 col-lg-4">
                      <p>Country</p>
                      <select id="inputcountry" formControlName="country"
                        [ngClass]="{ 'is-invalid': submitted && f.country.errors }"
                        [(ngModel)]="settingsService.personal_contacts.country"
                        (ngModelChange)="switchLocation(settingsService.personal_contacts.country)" name="country"
                        class="form-control form-rounded">
                        <option value="" i18n>-Select Your Country -</option>
                        <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
                      </select>
                      <div *ngIf="submitted && f.country.errors"
                        class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                        <div *ngIf="f.country.errors.required" i18n>Required</div>
                      </div>
                    </div>
                    <div *ngIf="selectedLocation" class="col-12 col-md-5 col-lg-5">
                      <p>City or State</p>
                      <select id="inputCity" formControlName="city_id" [(ngModel)]="settingsService.personal_contacts.city_id"
                        [ngClass]="{ 'is-invalid': submitted && f.city_id.errors }" name="city_id"
                        class="form-control form-rounded">
                        <option value="" i18n>- City/Town -</option>
                        <option *ngFor="let city of selectedLocation.cities" value="{{city.id}}">{{city.name}}</option>
                      </select>
                      <div *ngIf="submitted && f.city_id.errors"
                        class="invalid-feedback text-danger text-right form-text text-muted mb-1">
                        <div *ngIf="f.city_id.errors.required" i18n>Required</div>
                      </div>
                    </div>
                    <div class="col-12">
                        <div class="row py-1">
                            <div class="col-12 col-md-3 col-lg-3">&nbsp;&nbsp;</div>
                            <div class="col-12 col-md-9 col-lg-9">
                              <button class="btn btn-sm btn-primary btn-rounded"> <span
                                  *ngIf="submitted==true && accountForm.edit_location"><span
                                    class="fa fa-circle-o-notch fa-spin"></span></span><span>&nbsp;</span>
                                <span>Save</span></button>
                              <span (click)="CanceEdit()" class="btn btn-sm btn-rounded btn-default">Cancel</span>
                            </div>
                          </div>                      
                    </div>
                  </div>

                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-wf-main-content>
<!--Main layout-->
<app-wf-footer></app-wf-footer>