<app-ads-nav-bar></app-ads-nav-bar>
<app-ads-main-content>
    <div class="container-fluid px-md-2 px-lg-2" style="min-height: 100%;">

        <div class="row mx-0" style="min-height: 80vh;">
            <div class="col-12 p-0">


                <div class="d-block w-100">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="d-block w-100">
                                <app-ads-nav-tabs-widget [tab]='tabname'></app-ads-nav-tabs-widget>
                            </div>
                            <div class="d-block w-100 border">
                                <div class="row mx-0 py-2">
                                    <div class="col-12">
                                        <a routerLink="/adsmanager/compaigns/create"
                                            class="btn btn-sm btn-outline-primary pull-left">Create
                                            Ad</a>
                                    </div>
                                </div>
                            </div>

                            <div class="d-block w-100 border">

                                <div class="row mx-0 py-2">
                                    <div class="col-3">
                                        <input type="search" class="form-control form-control-sm"
                                            placeholder="Search by Name or ID">
                                    </div>
                                </div>
                            </div>


                            <div class="d-block w-100 border">
                                <div class="row mx-0">
                                    <div class="col-12 p-0 m-0" style="width:100%;overflow-x: auto;">

                                        <table class="table table-striped table-bordered fixed_header">
                                            <thead>
                                                <tr>
                                                    <th class="pt-1 pb-0 px-1"
                                                        style="width: 50px;overflow: hidden;text-align:left;">
                                                        <input type="checkbox" name="chkselect_all"
                                                            (change)="UpdateSelectedCompaign($event)"
                                                            class="form-check-input d-none" id="chkselect_all">
                                                        <label for="chkselect_all" class="p-0 my-0 mx-2"></label>
                                                    </th>
                                                    <th class="p-1" colspan="2" style="white-space:nowrap;">
                                                        Compaign Name
                                                    </th>
                                                    <th class="p-1" colspan="1" style="white-space:nowrap;">Status</th>
                                                    <th class="p-1" colspan="1" style="white-space:nowrap;">Age</th>
                                                    <th class="p-1" colspan="1" style="white-space:nowrap;">
                                                        Gender
                                                    </th>
                                                    <th class="p-1" colspan="1" style="white-space:nowrap;">
                                                        Reach
                                                    </th>
                                                    <th class="p-1" colspan="1" style="white-space:nowrap;">
                                                        Impressions
                                                    </th>
                                                    <th class="p-1" colspan="1" style="white-space:nowrap;">
                                                        Unique Clicks
                                                    </th>
                                                    <th class="p-1" colspan="1" style="white-space:nowrap;">Schedule
                                                    </th>
                                                    <th class="p-1" colspan="1" style="white-space:nowrap;">Budget</th>
                                                </tr>
                                            </thead>
                                            <tbody class="compaigns-body">
                                                <ng-container *ngIf="adsService.ad_account!=null">
                                                    <ng-container
                                                        *ngFor="let compaign of adsService.ad_account.compaigns">
                                                        <tr role="row" class="odd">
                                                            <td class="p-1"
                                                                style="width: 50px;overflow: hidden;text-align:left;vertical-align:middle">

                                                                <input type="checkbox" name="{{compaign.id}}"
                                                                    (change)="UpdateSelectedCompaign($event)"
                                                                    class="form-check-input m-0 p-0 d-none"
                                                                    id="{{compaign.id}}">
                                                                <label for="{{compaign.id}}" class="p-0 m-2"></label>

                                                            </td>
                                                            <td class="p-1" style="white-space:nowrap;" colspan="2">
                                                                {{compaign.compaign_name}}
                                                                <br>
                                                                <a routerLink="/adsmanager/compaigns/edit/{{compaign.id}}"
                                                                    class="text-primary pull-right"
                                                                    style="font-size: 80%;"><span
                                                                        class="fa fa-pencil"></span>
                                                                    Edit</a>
                                                            </td>
                                                            <td class="p-1">
                                                                <ng-container *ngIf="compaign.status=='Active'">
                                                                    <span
                                                                        class="badge badge-success p-1 m-0">{{compaign.status}}</span>
                                                                </ng-container>
                                                                <ng-container *ngIf="compaign.status!='Active'">
                                                                    <i>{{compaign.status}}</i>
                                                                </ng-container>
                                                            </td>
                                                            <td class="p-1">
                                                                <div class="d-block" style="white-space:nowrap;">
                                                                    {{compaign.aud_age_min}} - {{compaign.aud_age_max}}
                                                                </div>
                                                            </td>
                                                            <td class="p-1">{{compaign.aud_gender}}</td>
                                                            <td class="p-1 text-center">{{compaign.reach}}</td>
                                                            <td class="p-1 text-center">-</td>
                                                            <td class="p-1 text-center">{{compaign.unique_clicks}}</td>
                                                            <td class="p-1">
                                                                <ng-container *ngIf="compaign.budget_schedule!=null">
                                                                    {{compaign.budget_schedule.schedule}}
                                                                </ng-container>
                                                            </td>
                                                            <td class="p-1">
                                                                <ng-container *ngIf="compaign.budget_schedule!=null">
                                                                    {{compaign.budget_schedule.budget}}<br>
                                                                    <span>{{ucwords(compaign.budget_schedule.budget_type)}}</span>
                                                                </ng-container>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</app-ads-main-content>