.card::-webkit-scrollbar { width: 3 !important }

.post-image-preview-item{
background-color: silver;
}


.post-image-preview-item:hover{
    color: #ffffff;
}

.post-image-preview-item .img-preview-overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
}

.post-image-preview-item .img-preview-overlay:hover{
    background-color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.content-inputs-container{
    max-height: 70vh;
    overflow-y: auto;
}