<div [class.disabled]="feedService.loading_new_post" class="card card-primary" id="wffeed-post-card"
  [ngStyle]="{'z-index':postingService.show_input_buttons ? 2001 : 1 }">
  <div *ngIf="postingService.show_input_buttons" class="card-header py-1 px-1 d-none d-md-block d-lg-block">
    <div class="row m-0">
      <div class="col-10 align-middle p-0"><span class="pull-left" style="font-size:120%;">Create Post</span></div>
      <div class="col-2 align-middle  p-0" style="font-size:130%;">
        <span style="cursor: pointer;font-weight:lighter;" class="fa fa-times pull-right"
          (click)="postingService.messageBlur()"></span>
      </div>
    </div>
  </div>
  <div class="card-body p-1">
    <form #feedForm_feedId="ngForm">
      <input class="d-none" type='file' id="post_upload_input_id" name="upload_files"
        (change)="postingService.onSelectFile($event)" multiple #post_upload_input_id>
      <div class="row m-0">
        <div *ngIf="postingService.show_input_buttons" class="col-12 p-0 d-block d-md-none d-lg-none align-middle">
          <div class="row m-0  align-middle">
            <div class="col-2 d-inline-block px-0">
              <img style="max-height:60px;" src="{{profileService.MYPROFILE.avatar}}"
                class="img-fluid rounded-circle d-inline-block m-0">
            </div>
            <div class="col-10 d-inline-block  px-0 align-middle">
              <div class="d-block w-100 pull-left font-weight-bold text-truncate">{{profileService.MYPROFILE.firstname}}
                {{profileService.MYPROFILE.lastname}}</div>
              <div class="d-block w-100  pull-left align-middle" ngbDropdown #myDrop="ngbDropdown"
                placement="bottom-right">
                <button class="btn btn-sm btn-outline-primary  btn-rounded align-middle px-2 py-1 m-0"
                  id="dropdownManual1" ngbDropdownAnchor (focus)="myDrop.open()"
                  title="Share with {{postingService.selected_visibility.text}}"
                  style="border:1px solid transparent"><span>Share this with </span><span>&nbsp;&nbsp;</span><span
                    class="{{postingService.selected_visibility.icon}}"></span>
                  {{postingService.selected_visibility.text}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual1">
                  <button *ngFor="let visibility of postingService.visibility_options" class="dropdown-item"
                    (click)="postingService.changeVisibility(visibility)"><span class="{{visibility.icon}}"></span>
                    {{visibility.text}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-0" id="postcontentcontainer">
        <div class="col-md-1 col-lg-1 p-0 d-none d-md-block d-lg-block">
          <img style="max-height:60px;" src="{{profileService.MYPROFILE.avatar}}" class="img-fluid rounded-circle mt-1">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 p-1 mr-0">
          <div appWfLinkPreview class="w-100 h-100 form-control form-rounded align-middle" id="feed_form_model_input"
            (change)="postingService.messageFocus()" (focus)="postingService.messageFocus()"
            [(ngModel)]="postingService.feed_input_model.message" #ctrl="ngModel" name="message" contenteditable="true"
            data-text="Write here,use @ to tag someone">
          </div>
          <div style="position:absolute;right:0px;top:12px;">
          <span *ngIf="postingService.show_upload_img" (click)="postingService.SelectFeedUploadImage()"
              class="p-2 m-2 text-primary" style="cursor: pointer;font-size: 120%">
              <span class="fa fa-camera"></span>
          </span>
          </div>
        </div>

        <div class="col-12 p-1 w-100" *ngIf="linkPreviewSevice.links.length==0" style="overflow-x: auto;">
          <div *ngFor="let img_preview of postingService.file_preview_urls"
            class="pull-left m-1 d-block post-image-preview-item"
            style="position:relative;width:100px;height:100px;">
            <span (click)="postingService.RemovePreviewImage(img_preview)" class="round-btn" title="Remove"
              style="z-index:3001; width:20px;height:20px;padding:1px;cursor:pointer;position:absolute;top:-5px;right:-5px;">
              <span class="fa fa-close"></span>
            </span>
            <div class="h-100 w-100 p-0" style="overflow:hidden;">
              <img [src]="img_preview.url" class="rounded m-0" [class.w-100]="img_preview.width<=img_preview.height"
                [class.h-100]="img_preview.width>=img_preview.height">
            </div>
            <div class="img-preview-overlay"> &nbsp;</div>
          </div>
          <div *ngIf="postingService.file_preview_urls.length" (click)="post_upload_input_id.click()"
            class="pull-left m-1 d-block post-image-preview-item align-middle text-center"
            title="Upload more Images"
            style="position:relative;width:100px;height:100px;font-size:200%;border:2px dashed gray;cursor: pointer;">
            <span style="position:absolute;top:30px;bottom:30px;left:30px;right:30px;">
              <span class="fa fa-plus"></span>
            </span>
          </div>

        </div>

        <div class="col-md-1 col-lg-1 p-0 d-none d-md-block d-lg-block"></div>
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 p-0 mr-0">
          <app-wf-link-preview-container [multiple]="false"></app-wf-link-preview-container>
        </div>
      </div>

      <div *ngIf="postingService.show_input_buttons" class="row m-0">
        <div class="col-12 p-1">
          <div class="row  m-0">
            <div class="col-12 col-md-2 pl-0">
              <button *ngIf="linkPreviewSevice.links.length==0" (click)="postingService.SelectFeedUploadImage()"
                class="btn-circle btn-sm btn-outline-primary d-inline-block pull-left" title="Add Photo or Video">
                <span class="fa fa-camera align-middle color-primary" style="font-size:120%;"></span>
              </button>
            </div>
            <div class="col-12 col-md-1  pl-0 d-none">
              <button class="btn-circle btn-sm btn-outline-primary d-inline-block pull-left" title="Add Location">
                <span class="fa fa-map-marker align-middle color-primary" style="font-size:120%;"></span>
              </button>
            </div>
            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-4 py-0 d-none d-md-block d-lg-block">
              <div class="d-inline-block align-middle pull-right  py-0" ngbDropdown #myDrop="ngbDropdown"
                placement="bottom-right">
                <button class="btn btn-sm btn-outline-primary pull-right btn-rounded align-middle px-3"
                  id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()"
                  title="Share with {{postingService.selected_visibility.text}}"><span
                    class="{{postingService.selected_visibility.icon}}"></span>
                  {{postingService.selected_visibility.text}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                  <button *ngFor="let visibility of postingService.visibility_options" class="dropdown-item"
                    (click)="postingService.changeVisibility(visibility)"><span class="{{visibility.icon}}"></span>
                    {{visibility.text}}</button>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 pr-0">
              <button type="submit" (click)="postingService.post()"
                class="btn btn-primary btn-sm float-right pull-right d-inline-block btn-rounded px-3"><span
                  class="fa fa-send"></span><span>&nbsp;</span>
                <ng-container *ngIf="postingService.feed_input_model.isNew" i18n>Post</ng-container>
                <ng-container *ngIf="postingService.feed_input_model.isNew!=true" i18n>Post Changes</ng-container>
              </button>
              <span *ngIf="postingService.feed_input_model.isNew!=true" (click)="postingService.CancelPostEdit()"
                class="btn btn-outline-default btn-sm p-1 text-primary pull-right mr-1" i18n>
                Cancel</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="postingService.show_input_buttons" class="d-none card-footer p-1">
    <button type="submit" (click)="postingService.post()"
      class="btn btn-primary btn-sm float-right d-inline-block btn-rounded  px-2"><span
        class="fa fa-send"></span><span>&nbsp;</span>
      <ng-container i18n>Post</ng-container>
    </button>
  </div>
</div>