<div class="row w-100  mx-auto">
  <div class="col-12 col-md-6 col-lg-6 mx-auto">
    <form [formGroup]="formGroup" (ngSubmit)="changePassword()" [mustMatch]="['newPassword', 'confirmPassword']"
      novalidate class="text-center p-1 w-100">

      <h6>Change Your Password</h6>
      <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted" class="alert alert-info text-danger"
        role="alert">
        <div *ngFor="let error of errors">{{ error }}</div>
      </div>
      <div *ngIf="processing_request" class="d-block text-center color-primary">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-primary"></i>
        <span class="sr-only color-primary">Loading...</span>
      </div>

      <div *ngIf="password_changed" class="w-100 alert alert-success" i18n>You have successfully changed your Account password</div>

      <div class="form-group">
        <input type="password" formControlName="password" (keyup)="OnPassKey($event)" [(ngModel)]="model.password" class="form-control form-rounded"
          placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="wrong_password==true"
          class="text-danger text-right form-text text-muted mb-1">Wrong Password</div>
        <div *ngIf="submitted && f.password.errors"
          class="invalid-feedback text-danger text-right form-text text-muted mb-1">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="newPassword" [(ngModel)]="model.newPassword"
          class="form-control form-rounded" placeholder="New Password"
          [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
        <div *ngIf="submitted && f.newPassword.errors"
          class="invalid-feedback text-danger text-right form-text text-muted mb-1">
          <div *ngIf="f.newPassword.errors.required">Enter New Password</div>
          <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" formControlName="confirmPassword" [(ngModel)]="model.confirmPassword"
          class="form-control form-rounded" placeholder="Confirm Password"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors"
          class="invalid-feedback text-danger text-right form-text text-muted mb-1">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Password must Match</div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-rounded btn-sm my-4 waves-effect z-depth-0">Change
        Password</button>
      <br>
      <a routerLink="/request-password-reset" class="pull-right">Reset Password Instead!</a>
    </form>
  </div>
</div>