.cursor-pointer{
    cursor: pointer;
}

.wb-ad-icon-active{
    background-color: #06274d;
}

.wb-ad-icon{
    background-color: #000000;
}

.wb-ad-icon-active-container{
    color: #06274d;
    border:2px solid #06274d;
    font-weight: bold;
}