<div *ngIf="deviceService.isDesktop" class="w-100 sticky-top">

  <div class="card mx-0">
    <div class="card-body py-0">
      <div class="row p-0">
        <div class="col-md-12 col-lg-12 px-0 py-1 text-center ">
          <img style="max-width:80px;" src="{{profileService.MYPROFILE.avatar.face}}"
            class="img-fluid rounded-circle z-depth-0">
          <div class="w-100">Hello {{profileService.MYPROFILE.firstname}}</div>
          <div class="w-100" style="font-size:80%;"><a routerLink="/{{profileService.MYPROFILE.url}}">Update your
              profile <span class="fa fa-edit"></span></a></div>
        </div>
      </div>
    </div>
  </div>

  <app-my-pages-list-widget></app-my-pages-list-widget>

</div>