<div *ngIf="profileConnectionsService.CONNECTIONS.length" class="card">
    <div class="card-body p-1">
        <div class="d-block w-100 p-0">
            <div class="row mx-0 my-2 mx-0">
                <div class="col-8 font-weight-bold wb-font-size-120">
                    <span>Network </span>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a routerLink="/{{urlViewerService.PPVIEWER.profile.url}}/connections" class="btn-link">All</a>
                </div>
            </div>
        </div>
        <div class="row m-0" style="border:1px solid #ffffff;">

            <ng-container *ngFor="let connection of profileConnectionsService.CONNECTIONS;let i=index">
                <div *ngIf="i<6" class="col-4 col-md-6 col-lg-6 p-0" style="border:1px solid #ffffff;">
                    <a routerLink="/{{connection.url}}" (click)="urlViewerService.setProfile(connection);" class="w-100 m-0 p-0">
                        <span class="d-block w-100 p-0 rounded"><img src="{{connection.avatar.face}}" class="w-100 rounded"></span>
                        <span class="d-block w-100 p-0 text-center font-weight-bold">{{connection.name}}</span>
                    </a>
                </div>
            </ng-container>
        </div>
        <div *ngIf="urlViewerService.loading_viewer" class="d-block p-0 m-0 text-center">
            <span class="fa fa-spinner fa-pulse fa-fw"></span>
        </div>
    </div>
</div>