<ng-container *ngIf="chatroom.form!=null">
    <div class="d-block w-100 h-50 bg-white" style="position: relative;">
        <div class="bg-white border-top border-light py-2" style="position: absolute; right:0px;left:0px;bottom:0px;">
            <div class="row m-0 p-0 content-inputs-container" id="chatformcontentcontainer">
                <div class="col-12 p-0 m-0">
                    <div appWfLinkPreview class="w-100 h-100 align-middle bg-white p-2" style="max-height: 25vh;overflow-y: auto;" #messageInput
                        (change)="messageFocus()" (focus)="messageFocus()" [(ngModel)]="chatroom.form.message"
                        #ctrl="ngModel" name="message" contenteditable="true" data-text="Write your Message here">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block w-100  h-50 px-2">
        <div class="row mx-0 my-1">
            <div class="col-9 p-0 d-flex align-items-center">
                <span class="p-2 text-primary" style="cursor: pointer;font-size: 120%">
                    <span class="fa fa-camera"></span>
                </span>
                <span class="p-2 text-primary" style="cursor: pointer;font-size: 120%">
                    <span class="fa fa-paperclip"></span>
                </span>
            </div>
            <div class="col-3 p-0 d-flex align-items-center">
                <div class="d-flex justify-content-end w-100" style="position: relative;">
                    <span class="btn btn-sm btn-primary px-2 py-1" (click)="pushMessage()">
                        <span>Send</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</ng-container>