.profile-info .profile-title {
  font-size: 110%;
}

.wf-profile-hearder .wf-profile-cover {
  border-radius: 0px 0px 20px 20px;
}

.wf-profile-cover .profile-cover-upload {
  position: absolute;
  bottom: 20px;
  right: 20px;
  box-shadow: 2px 0px 17px -1px rgba(161,157,157,1);
  -webkit-box-shadow: 2px 0px 17px -1px rgba(161,157,157,1);
  -moz-box-shadow: 2px 0px 17px -1px rgba(161,157,157,1);
}

.wf-profile-cover .profile-cover-upload .fa {
  font-size: 130%;
}

.wf-profile-cover .profile-cover-upload .profile-cover-text {
  display: none;
}

.wf-profile-cover:hover .profile-cover-upload .profile-cover-text {
  display: block;
}


.wf-profile-image-container .profile-avatar-upload {
  position: absolute;
  top: 50%;
  right: -10px;
}
.wf-profile-image-container .profile-avatar-upload .fa {
  font-size: 130%;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .wf-profile-hearder {
    height: 275px;
    position: relative;
  }

  .wf-profile-hearder .wf-profile-cover {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #a7adba;
    overflow: hidden;
  }

  .wf-profile-hearder .wf-profile-image-container {
    position: absolute;
    bottom: 0px;
    left: 40px;
    height: 150px;
    width: 150px;
  }

  .wf-profile-hearder .wf-profile-title-buttons {
    position: absolute;
    bottom: 0px;
    left: 190px;
    height: 50px;
    right: 0px;
  }
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  .wf-profile-hearder {
    height: 275px;
    position: relative;
  }

  .wf-profile-hearder .wf-profile-cover {
    position: absolute;
    height: 250px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #8a2be2;
    overflow: hidden;
  }

  .wf-profile-hearder .wf-profile-image-container {
    position: absolute;
    bottom: 0px;
    left: 40px;
    height: 150px;
    width: 150px;
  }

  .wf-profile-hearder .wf-profile-title-buttons {
    position: absolute;
    bottom: 0px;
    left: 190px;
    height: 50px;
    right: 0px;
  }
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  .wf-profile-hearder {
    height: 250px;
    position: relative;
  }

  .wf-profile-hearder .wf-profile-cover {
    position: absolute;
    height: 225px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #8a2be2;
    overflow: hidden;
  }

  .wf-profile-hearder .wf-profile-image-container {
    position: absolute;
    bottom: 0px;
    left: 2%;
    height: 120px;
    width: 120px;
  }

  .wf-profile-hearder .wf-profile-title-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    right: 0px;
  }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .wf-profile-hearder {
    height: 200px;
    position: relative;
  }

  .wf-profile-hearder .wf-profile-cover {
    position: absolute;
    height: 160px;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #8a2be2;
    overflow: hidden;
  }

  .wf-profile-hearder .wf-profile-image-container {
    position: absolute;
    bottom: 5px;
    left: 2%;
    height: 120px;
    width: 120px;
  }

  .wf-profile-hearder .wf-profile-title-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    right: 0px;
  }
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  .wf-profile-hearder {
    height: 160px;
    position: relative;
  }

  .wf-profile-hearder .wf-profile-cover {
    position: absolute;
    height: 128px;
    left: 0;
    right: 0;
    top: 0px;
    background-color: #8a2be2;
    overflow: hidden;
  }

  .wf-profile-hearder .wf-profile-image-container {
    position: absolute;
    display: block;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 96px;
    width: 96px;
  }

  .wf-profile-hearder .wf-profile-title-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 50px;
    right: 0px;
  }
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 120px) and (max-width: 480px) {
  .wf-profile-hearder {
    height: 128px;
    position: relative;
  }

  .wf-profile-hearder .wf-profile-cover {
    position: absolute;
    height: 102px;
    left: 0;
    right: 0;
    top: 0px;
    background-color: #8a2be2;
    overflow: hidden;
  }

  .wf-profile-hearder .wf-profile-image-container {
    position: absolute;
    display: block;
    bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 77px;
    width: 77px;
  }

  .wf-profile-hearder .wf-profile-title-buttons {
    position: absolute;
    bottom: 3px;
    left: 0px;
    height: 50px;
    right: 0px;
  }
}
