<div class="d-block p-0 m-0">
  <div class="card m-0 p-0">
    <div class="card-body m-0 p-0">
      <div class="d-block wf-profile-hearder" [ngStyle]="{'height':''+profileViewerService.profileCoverHeaderHeight+'px'}">
        <div [ngStyle]="{'height':''+profileViewerService.profileCoverHeight+'px'}" class="d-block wf-profile-cover" #profileCoverElm>
          <div *ngIf="urlviewerService.PPVIEWER.profile.my_profile==true" class="d-block profile-cover-upload" (click)="editProfileService.editCover()" title="Update Cover Photo" style="cursor: pointer;">
            <span class="d-inline-block text-default"><span class="fa fa-camera"></span></span>
          </div>
          <img src="{{urlviewerService.PPVIEWER.profile.cover.picture}}" class="img-fluid w-100 z-depth-2"
            style="overflow:hidden;">
        </div>
        <div class="wf-profile-image-container">
          <div class="d-block wf-profile-img  w-100 h-100 m-0 p-0">
            <div class="d-block w-100 h-100 m-0 p-0">
                <img src="{{urlviewerService.PPVIEWER.profile.avatar.face}}" class="img-fluid rounded-circle img-thumbnail">
                <div *ngIf="urlviewerService.PPVIEWER.profile.my_profile==true" class="d-block profile-avatar-upload" (click)="editProfileService.editAvatar()" title="Update Profile Photo" style="cursor: pointer;">
                  <span class="d-inline-block text-default"><span class="fa fa-camera"></span></span>
                </div>
            </div>
          </div>
        </div>
        <div class="wf-profile-title-buttons p-0 d-none d-md-block d-lg-block">
          <div class="row m-0 p-0">
            <div class="col-12 d-flex justify-content-end">
              <app-profile-action-buttons-widget></app-profile-action-buttons-widget>
            </div>
          </div>
        </div>
      </div>

      <div class="d-block profile-info p-2 p-md-3 p-lg-3 text-center text-md-left text-lg-left">
        <div class="d-block w-100">
          <div class="row m-0 p-0">
            <div class="col-12 col-md-6 col-lg-6">
              <app-profile-title-widget></app-profile-title-widget>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
              <app-mutual-connections-widget></app-mutual-connections-widget>
            </div>
          </div>
        </div>

        <div class="d-block d-md-none d-lg-none w-100">
          <div *ngIf="urlviewerService.PPVIEWER.profile.my_profile!=true" class="row my-2 mx-0">
            <div class="col-12">
              <div class="wf-profile-title-buttons">
                <app-profile-action-buttons-widget></app-profile-action-buttons-widget>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-block w-100 mt-1">
        <app-profile-nav-widget [tab]="nav_tab"></app-profile-nav-widget>
      </div>
    </div>
  </div>
</div>