<!-- Navbar -->
<nav class="navbar navbar-search-nav m-0 w-100 p-0">
    <ul class="nav navbar-nav nav-flex-icons container-fluid p-0 m-0 content-justify-center">
      <li class="nav-item d-inline-block" style="width:32%;">
        <a  routerLink="/mynetwork/connections" class="nav-link waves-effect waves-light w-100 text-center">
           <span class="w-100 d-block"><span class="fa fa-connectdevelop"></span>{{profileService.MYPROFILE.no_connections}} </span>
           <span class="clearfix">Connections</span>
          </a>
      </li>				  
      <li class="nav-item d-inline-block" style="width:32%;">
        <a  routerLink="/mynetwork/invitations" class="nav-link waves-effect waves-light text-center">
          <span class="w-100 d-block"><span class="fa fa-users"></span></span>
           <span class="clearfix">Invitations</span>
          </a>
      </li>				  
      <li class="nav-item  d-inline-block" style="width:32%;">
        <a  routerLink="/mynetwork/contacts" class="nav-link waves-effect waves-light text-center"> 
          <span class="w-100 d-block"><span class="fa fa-plus-circle"></span></span>
          <span class="clearfix">Contacts</span>
        </a>
      </li>                                             	                
    </ul>				
  </nav>