<app-loading-new-post-widget *ngIf="profileFeedService.loading_new_post"></app-loading-new-post-widget>
<div class="col-12 p-0 m-0" #feedContainer>
    <div class="w-100 h-100 m-0 p-0" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="profileFeedService.onScrollDown()" [scrollWindow]="true" id="scroller">
        <ng-container *ngFor="let feed of profileFeedService.feeds">
            <ng-container *ngIf="feed.edit_mode!=true">
                <app-post-card-widget [feed]="feed" [container_width]="container_width"
                    [max_post_images_height]="max_post_images_height"></app-post-card-widget>
            </ng-container>
        </ng-container>

        <div *ngIf="profileFeedService.loading_feeds==false && !profileFeedService.feeds.length" class="card-body">
            <div *ngIf="!urlViewerService.PPVIEWER.profile.my_profile" class="d-block px-auto py-2 text-center">
                <h5><span>{{urlViewerService.PPVIEWER.profile.name}}</span> <span>&nbsp;</span><span i18n>has not posted
                        anything yet!</span></h5>
                <hr>
            </div>
            <div *ngIf="urlViewerService.PPVIEWER.profile.my_profile" class="d-block px-auto py-2 text-center">
                <h5><span i18n>You have not posted anything yet! Feel free to share your thoughts, interests and more
                        importantly your skills and abilities with.</span></h5>
                <hr>
            </div>
        </div>

    </div>
</div>
<app-loading-new-post-widget *ngIf="profileFeedService.loading_feeds"></app-loading-new-post-widget>